@using AphidBytes.Web.Session_Helper
<!DOCTYPE html>
@{
    var accountInfoLink = Url.Action("LoginorSignUp", "Accounts");
    var signUpLink = Url.Action("Index", "Register");
    IAphidIdentity aphidIdentity = null;

    if (AphidBytes.Web.Session_Helper.AphidSession.Current.IsAuthenticated)
    {
        aphidIdentity = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity;

        switch (aphidIdentity.AccountTypeId)
        {
            case 1:
                accountInfoLink = Url.Action("BasicAccountInfo", "Basic");
                break;
            case 2:
                accountInfoLink = Url.Action("AphidTiseAccountInfo", "AphidTise");
                break;
            case 3:
                accountInfoLink = Url.Action("ByterAccountInfo", "Byter");
                break;
            case 4:
                accountInfoLink = Url.Action("PremiumAccountInfo", "Premium");
                break;
            case 5:
                accountInfoLink = Url.Action("EditNewRelease", "Home");
                break;
            case 6:
                accountInfoLink = Url.Action("AphidLabsAccountInfo", "AphidLabs");
                break;
            case 7:
                accountInfoLink = Url.Action("EditNewRelease", "Home");
                break;
            default:
                accountInfoLink = Url.Action("Index", "Home");
                break;
        }

        signUpLink = accountInfoLink;
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/img/favicon.png" />
    <title>@(string.IsNullOrWhiteSpace(ViewBag.PageTitle) ? "AphidByte" : ViewBag.PageTitle)</title>

    @Styles.Render("~/bundles/css/layout-matrix")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <div class="background-div">
        <img src="~/Images/DemoPrivate.gif" alt="matrix" />

    </div>
    <div class="content">
        @RenderBody()
       
    </div>
    @RenderSection("scripts", required: false)
    
</body>
</html>

