@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}
@model AphidBytes.Accounts.Contracts.Model.ChannelModel


<body class="main_mremuimbody">
    <div class="main_mremuimbody">
        <div id="pagewrap">

            <div id="header">
                
                  <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png" /></a>
            </div>

            <div id="content">
                <div class="premium_bx1" style="margin-top: 50px;">
                    <a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a>
                    <div class="mremb_edit"><a href="#" id="edit" class="editbutton">Edit</a></div>
                    <p>
                        Biography<p />
                    <div>
                        <p id="contentdata" style="word-break: break-all;">@Model.UserData</p>
                    </div>
                </div>

                <div class="prm_u">
                    <a href="#">
                        <img src="/images/nextpm_b.png" /></a>
                </div>
                <div class="prm_d">
                    <a href="#">
                        <img src="/images/pevpm_b.png" /></a>
                </div>
            </div>

            <div id="middle" style="margin-top: -20px; position: relative;">
                <p class="mermb_upload_m2" id="upload1">
                    <input id="Imageupload" type="file" accept="image/*" style="display: none;">
                    <a href="#" id="uploadfile">Upload </a>
                </p>
                @*<p class="mermb_upload_m2"id="upload2"><a href="#">SAVE</a></p>*@
                <div class="premium_bx2">
                    <div>
                        @if (Model.ImagePath != null)
                        {
                            <img src="@Model.ImagePath" id="profileImage" style="height: 165px; width: 177px;"/>
                        }
                        else
                        {
                            <img src="/images/prm_pic1.jpg" id="profileImage"style="height:150px;width:210px;">
                        }
                    </div>
                    <div class="bg_sea" style="height: 53px; width: 302px; color: white; font-size: 32px">@username</div>
                    <div class="bg_stext">
                        <p>DEF JAM RECORDS/ISLAND/G.O.O.D. MUSIC</p>
                    </div>

                    <div class="prem_dg">
                        <p>
                            <img src="/images/dg_1a.png" style="width: 50%; margin-top: 10px">
                        </p>
                        <p>
                            <img src="/images/dg_2.jpg" style="width: 50%; margin-top: 10px">
                        </p>
                    </div>

                </div>
                <p class="mermb_upload"><a href="#">Upload</a></p>
            </div>




            <div id="sidebar">
                <div class="premium_bx3" style="margin-top: 0px;">
                    <!--<a href="#"><img src="images/unsubscribe_mir.png" ></a>--->
                    <div class="mremb_edit"><a href="#">Edit</a></div>
                    <div class="bx_3prm">
                        <p>
                            <samp>
                                <img src="/images/prim_bold1.png"></samp>Licensing /Purchasing ARCHIVE
                        </p>
                        <p>
                            <samp>
                                <img src="/images/prim_bold1.png" style="padding: 3px 0; width: 3%;"></samp>BOOKING
                        </p>
                        <p>
                            <samp>
                                <img src="/images/prim_bold3.png" style="width: 6%;"></samp>MANAGEMENT
                        </p>
                    </div>
                    <p class="p_bx3">Accolades</p>
                    <div class="bx_allbum">
                        <p>
                            <samp>
                                <img src="/images/allbum_prem.png"></samp>FINALLY FAMOUS Album  2X Platinum
                        </p>
                    </div>

                    <div class="bx_2x">
                        <p>
                            <samp>
                                <img src="/images/2x_pic1.png"></samp><samp><img src="/images/2x_pic1.png"></samp>
                            &nbsp;2X Grammys
                        </p>
                    </div>

                    <div class="bx_pdr">
                        <p>
                            <samp>
                                <img src="/images/pdr_pic.png"></samp><samp><img src="/images/add_pic.png"></samp>
                            Endorsements
                        </p>
                    </div>
                </div>

                <div class="max_box1" id="maximize">
                    <p>Maximize</p>
                    <p>
                        <img src="/images/max_pic1.png" style="width: 20%;">
                    </p>
                </div>
                <div class="max_box1" style="display: none;" id="Minimize">
                    <p>Minimize</p>
                    <p>
                        <img src="/images/max_pic1.png" style="width: 20%; height: 8px;">
                    </p>
                </div>
            </div>

            <div id="footer" style="display: none;">
                <div class="mview-footer">
                    <samp>Featured Items</samp>
                    <div class="mremb_edit_b2"><a href="#">Edit</a></div>

                    <div style="height: 5px;"></div>
                    <div class="fram-m_t2">
                        <div id='prev' class="mecnext_s" style="width: 10%; float: left;">
                            <img src="/images/prev_ms.png">
                        </div>
                        <div id="slider1" style="width: 80%; float: left; height: 90px;">

                            <div class="slli-main" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 744px; height: 90px;">
                                @*@if (Model.Image0 != null)
                                {
                                    *@<img src="~/Images/close.png" style="margin-left: -774px; margin-top: -16px; z-index: 999;" onclick="UbSubscribe('@Model.TrackingNumber0')"/>
                                    <div class="preim_fram-s_veo">
                                       
                                        <img src="@Model.Image0" class="fram-r4a" style="cursor: pointer">
                                    </div>
                               @* }*@
                                @if (Model.Image1 != null)
                                {
                                    @*<img src="~/Images/close.png" style="margin-left: -774px; margin-top: -16px; z-index: 999;" onclick="UbSubscribe('@Model.TrackingNumber1')"/>*@
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image1" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                               @if (Model.Image2 != null)
                                {
                                 @*  <img src="~/Images/close.png" style="margin-left: -774px; margin-top: -16px; z-index: 999;" onclick="UbSubscribe('@Model.TrackingNumber0')"/>*@
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image2" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                                @if (Model.Image3 != null)
                                {
                                 
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image3" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                                @if (Model.Image4 != null)
                                {
                               
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image4" class="fram-r4a" style="cursor: pointer">
                                    </div> 
                                }
                            </div>
                            <div class="slli-main" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 744px; height: 90px;">
                                @if (Model.Image5 != null)
                                {
                                  
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image5" class="fram-r4a" style="cursor: pointer">
                                    </div> 
                                }
                                @if (Model.Image6 != null)
                                {
                                   
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image6" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                                @if (Model.Image7 != null)
                                {
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image7" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                                @if (Model.Image8 != null)
                                {
                                  
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image8" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                                @if (Model.Image9 != null)
                                {
                               
                                    <div class="preim_fram-s_veo">
                                        <img src="@Model.Image9" class="fram-r4a" style="cursor: pointer">
                                    </div>
                                }
                            </div>


                        </div>
                        <div id='next' class="mecnext_s" style="width: 10%; float: left;">
                            <img src="/images/next_ms.png">
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    </body>
    <script>

        $('#imageupload').fileupload({
            dataType: 'json',
            url: '/premium/Image',
            autoUpload: true,
            done: function (e, data) {
                imageName = data.result.name;
              
                document.getElementById("pre").src = "/TempBasicImages/" + imageName;
            }
        });




    </script>
    <script>
        $("#changesubstatus").click(function () {
            $("#changesubstatus").hide();
            $("#changeunsubstatus").show();

        })

        $("#changeunsubstatus").click(function () {
            $("#changeunsubstatus").hide();
            $("#changesubstatus").show();

        })
        $("#maximize").click(function () {
            $("#maximize").hide();
            $("#Minimize").show();
            $("#footer").show();
        })
        $("#Minimize").click(function () {
            $("#Minimize").hide();
            $("#maximize").show();
            $("#footer").hide();
        })
    </script>
    <script >
        $(document).ready(function () {

            $('#slider1').cycle({
                fx: 'scrollHorz', //'scrollLeft,scrollDown,scrollRight,scrollUp',blindX, blindY, blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, none, scrollUp,scrollDown,scrollLeft,scrollRight,scrollHorz,scrollVert,shuffle,slideX,slideY,toss,turnUp,turnDown,turnLeft,turnRight,uncover,ipe ,zoom
                speed: 'slow',
                timeout: 0,
                next: '#next',
                prev: '#prev',
                pager: '#thumb',

                pagerAnchorBuilder: function (idx, slide) {
                    return '<li><a href="#"><img src="' + slide.src + '" width="60" height="60" /></a></li>';
                }
            });
            $("#edit").click(function () {

                $(this).remove();
                $(".mremb_edit").append('<button class="savedata" onclick="SaveData();">Save</button>');
                var data = $("#contentdata").text();
                $("#contentdata").text("");
                $("#contentdata").append("<textarea class=userdata>" + data + "</textarea>");
            });

            $("#uploadfile").click(function () {
              
                $(this).remove();
                $("#Imageupload").attr('style', 'display:block');
                $("#upload1").append('<button class="savedata" onclick="SaveData();">Save</button>');
                //$("#upload1").append("<input class='profileImage'  type='file' accept='image/*'>");
            });
            $('#Imageupload').fileupload({
                dataType: 'json',
                url: '/Premium/MatrixImage',
                autoUpload: true,
                done: function (e, data) {
                    var fileop = data.result.name;
                    if (fileop == "Invalid") {
                        alert("invalid File");
                        $("#MatrixImage").val("");
                    }
                    else {
                        $("#profileImage").attr('src', fileop);
                    }
                }
            })
        });

        function UbSubscribe(track)
        {
            alert(track);
        }

        function SaveData() {
            var userdata = $(".userdata").val();

            $.post('/Premium/SaveChannel', { Data: userdata }, function (data) {
                if (data == "Success") {
                    location.reload();
                }
            });
        }
    </script>
