
@model AphidBytes.Accounts.Contracts.Model.PremiumGenerateCloneModel
@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@*YesNo PopUP*@
<div id="show_pop" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Upload in Progress..</p></div>
</div>
</div>
</div>
@*YesNo PopUP*@

<div class="aphidtise_wrap">

    <div class="logid">

        <div class="logid_out">
            <ul>
                <li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
                <li><a href="~/Accounts/Logout">Logout</a></li>
            </ul>

            <div class="profilebg">
                <div class="migprofile">
                    <img src="@Url.Action("Overview", "Premium")" height="100px" />

                </div>
                <div class="premi-info-box">
                    <img src="/images/premiumaccount_star_bg.png" style="width: 100%;"><p class="preum-p-text">Premium Account</p>
                </div>
                <div class="premi-info-box">
                     <a href="@Url.Action("EditChannelPage","Premium")">    <img style="margin: 10px 0 0 10px;" src="/images/grid14bg.png"></a>
                </div>
                Html.EditorFor(model => model.CreatorName)
 
            </div>

        </div>
    </div>

</div>
@using (Html.BeginForm("UpdatePdf", "Premium", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="header_aphidtise">
        <div id="logo">
            <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/hphidbytelogo.png"></a>
        </div>
        <div class="processingbyter">
            <div class="processingbyter-head">
                <div class="processingbyterleft">
                    <p id="progresstext"></p>
                    <p class="progressbar" role="progressbar" style="width: 0%" />
                </div>
                <div class="processingbyterright">
                    <p>
                        <img src="/images/choose-existing.png">
                    </p>
                </div>
            </div>
        </div>


        <div class="headertab_aphidtise">
            <div class="aphidbyteleft" style="margin-top: 6px;">

                <ul class="aphidbytelist-preum">
                    <li><a href="PremiumAccountInfo">Account Info</a></li>
                    <li></li>
                    <li><a href="GenerateClones">Generate Clones</a></li>
                    <li>
                        <img src="/images/right_line.png" height="2" width="98"></li>
                    <li><a href="PremiumMessage">Messages</a></li>
                    
            @if (Model.NewCount != "0")
            {
               <p class="in_c_text_3">@Model.NewCount</p> 
            }
                    <li></li>
                    <li><a href="Premiumbytetracker">Byte Tracker</a></li>
                    <li></li>
                    <li><a href="PremiumHistory">History</a></li>
                    <li></li>
                    <li><a href="PremiiumDataplan">Data Plan</a></li>
                    <li></li>
                    <li><a href="PremiumPlaylist">Playlists</a></li>
                    <li></li>

                </ul>

                
                <div class="prebox">
                    <p><a href="Dashboard">Dashboard<img src="~/images/premium_account_bg.png" class="pre-boxp"></a></p>
                </div>

                <div class="mremium-tools">
                    <a href="PremiumTools">
                        <img src="~/images/premium-tools.png"></a>
                </div>

                <div class="info-footer-social"></div>
                <div class="premium_rightline"></div>
            </div>
            <p class="info-p" style="cursor: pointer"><span id="generate">Generate Clones</span><span id="byteyou">> Byte Your Ebook</span></p>
            <div class="aphidbytecenter content scrollWidth" id="content_1" style="height: 600px; margin-top: 20px;">
                <div style="height: 600px; width: 100%;">
                    <div class="from_aphid">
                        <ul>
                              <li style="display:none;">
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.TrackingNumber)
                            </li>
                             <li style="display:none;">
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.FileLength)
                            </li>
                            <li style="display:none;">
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.CloneID)
                            </li>
                            <li style="display:none;">
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.MatrixImageBytePath)                               
                            </li>
                            <li style="display:none;">
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.PdfFilePath)                                
                            </li>
                            <li>
                               
                                <label for="Company Logo">Ebook Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Title)
                            </li>

                            <li>
                                <label for="Company Logo">Tags: </label>
                                @*<input type="text" name="psw" id="psw" size="30" />*@
                                @Html.EditorFor(model => model.Tags)
                                <label for="Tags">(Automatically Populates)</label>

                            </li>

                            <li>
                                <label for="Confirm Password">Creator Name:</label>
                                @*<input name="email" type="text" id="email" value="Creator Name cannot be modified" size="30" />*@
                                 @Html.TextBoxFor(model => model.CreatorName, new { Value = AphidSession.Current.AuthenticatedUser?.Identity?.Username, @readonly = "readonly" })

                            </li>

                            <li>
                                <label for="Last Name">Upload File:</label>
                                @*<input type="file" form="file name">*@
                                @Html.TextBoxFor(model => model.Pdf, new { type = "file", accept = "application/pdf", form = "file name" })
                                @Html.TextBoxFor(model=>model.shortcatpath,new {style = "margin-left: -28%;width: 23%;",id="ppf" } )
                                <label for="Tags">( .pdf file only)</label>
                            </li>

                            <li>
                                <label for="Email Address">Upload Matrix Image:</label>
                                @*<input type="file" form="file name">*@
                                @Html.TextBoxFor(model => model.MatrixImage, new { type = "file", accept = "image/*", form = "file name" })
                                @Html.TextBoxFor(model=>model.shortimagepath,new {style = "margin-left: -28%;width: 23%;",id="mmp"} )
                                <label for="Tags">( .jpg or .png files only )</label>
                            </li>

                            <li>
                                <label for="Date of Birth">Composers:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Composer)
                            </li>

                            <li>
                                <label for="Company Logo">Publisher:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Publisher)
                            </li>
                            <li>
                                <label for="Company Logo">Select Interruption File:</label>
                            </li>
                            @Html.DropDownListFor(model => model.SelectedIntFile, new List<SelectListItem> {
                            new SelectListItem{Text="No Interruption"},
                            new SelectListItem{Text="Default AphidByte"},
                            new SelectListItem{Text="Custom  Interruption"}
                            })
                            <@*dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyter"><span>Watermark 1</span></a></dt>
        <dd>
            <ul id="byterclick">
                <li><a>No Interruption</a></li>
                <li><a>Default AphidByte Audio Interruption</a></li>
                <li><a>Custom Audio Interruption</a></li>
            </ul>
        </dd>
    </dl>*@
                            @* @Html.DropDownListFor(model => model.SelectedIntFile, new SelectList(ViewBag.CityList,"Value","Text"), "Select File")*@
                            <li>

                                <label for="Company Logo">Percentage of pages for Watermark:</label></li>
                            @*  @Html.DropDownList("Select", new List<SelectListItem> {
new SelectListItem{Text="Default Randomized Entry",Value="1"},
new SelectListItem{Text="Producer Tag Sequence",Value="2"},
new SelectListItem{Text="Beginning of File",Value="3"},
new SelectListItem{Text="Ending of File",Value="4"}
})*@
                            @*<dl id="samplebyter" class="dropdownbyter" style=" margin:-10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterone"><span>25%</span></a></dt>
        <dd>
            <ul id="byterclick2">
                <li><a>Default Randomized Entry</a></li>
                <li><a>Producer Tag Sequence</a></li>
                <li><a>Beginning of File</a></li>
                <li><a>Ending of File</a></li>
            </ul>
        </dd>
    </dl>*@

                            @Html.DropDownListFor(model => model.PagePercentage, new List<SelectListItem> {
new SelectListItem{Text="25%"},
new SelectListItem{Text="50%"},
new SelectListItem{Text="75%"},

})
                            <li>
                                <label for="Company Logo">Available for Download:</label>
                            </li>
                             @Html.DropDownListFor(model => model.AvailableDownload, new List<SelectListItem> { 
new SelectListItem{Text="Yes"},
new SelectListItem{Text="No"}
})
                            @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbytertwo"><span>Yes</span></a></dt>
        <dd>
            <ul id="byterclick3">
                <li><a>Yes</a></li>
                <li><a>No</a></li>
               </ul>
        </dd>
    </dl>*@
                            <li>
                                <label for="Company Logo">Explicit Content?:</label>
                            </li>
                            @Html.DropDownListFor(model => model.ExplicitContent, new List<SelectListItem> { 
new SelectListItem{Text="Yes"},
new SelectListItem{Text="No"}

})

                            @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterfour"><span>No</span></a></dt>
        <dd>
            <ul id="byterclick4">
               <li><a>Yes</a></li>
               <li><a>No</a></li>
            </ul>
        </dd>
    </dl>*@

                            <li>
                                <label for="Company Logo">Enter Captcha Code:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Captcha)
                                <p class="captcha">
                                    <img src="/Premium/ShowCaptchaImage">
                                </p>

                            </li>


                        </ul>



                    </div>
                </div>

                <div class="basicfooter-byter">
                    <div class="basicfooter-bytermain">
                        <div class="bytet-mfm">
                            @*<input name="" type="checkbox" value="" class="info-p">*@
                            @Html.CheckBoxFor(model => model.Isvalid)
                            <label for="Company Logo" class="info-p"><a href="#" id="trigger">Accept Terms & Conditions:</a></label>
                        </div>
                        <div class="bytet-mfm">
                            <div>
                                <p>@*<a href="#">*@<img src="/images/sear-mcredi-byter.png" id="previeww">@*</a>*@</p>
                                <p class="infof-p">Preview</p>
                            </div>
                            <div>
                                <p>@*<a href="#"><img src="/images/aphid_logo-byter.png"></a><input type="submit" id="sub" />*@
                                    <input type="submit" id="submitbutton" value="" style="background: url(/images/aphid_logo-byter.png); height: 78px; width: 85px; border: none;" />
                                </p>
                                <p class="info-p">Generate</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
}
<div id="popup" style="display: none; background: url('/images/aphidtisebg.png'); width: 70%; left: 16%!important; margin-top: -173px; height: 535px;">
    <div class="popbyter-mianz" style="height: 0px!important;">
        <div class="popbyter-miansub">
            <div class="popbyter-subleft" style="margin-left: -160px;">
               <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png" style="width: 70%; margin-left: -19px;"></a><br />
                <p>
                    <a href="#" style="display: block; margin-bottom: 20px; margin-top: -13px;">Back</a>
                </p>

            </div>


            <div class="popbyter-sub1">
                <div class="popbyter-sub1left"></div>

            </div>
        </div>
    </div>


    <div id="popup-close" href="" class="button" style="text-align: right; margin-top: -14px; margin-right: -12px;">
        <img src="/Images/closebotton.png" onclick="CloseThis();" />
    </div>
    <div>

        <div style="width: 60%; float: left; height: 125px; margin-left: 89px; margin-top: -77px;">
            @* <object data="" type="application/pdf" width="100%" height="400%" id="pdfview">
                <embed src="" type="application.pdf" />
                alt : <a href=""></a>
            </object>*@
            <iframe src="" style="width: 600px; height: 500px;" id="pdfview" frameborder="0"></iframe>
        </div>

        @*  <object data="" type="application/pdf" width="100%" height="400%" id="pdfview" contenteditable="true">
            <embed src="" type="application/pdf" />*@
        @* <iframe  src="" width="500px" height="400px"></iframe>*@

        @*</object>*@



        <div class="popbyter-subright" style="width: 30%!important; margin-top: -80px;">
            <p style="width: 50%; margin-left: 75px;">Processing 72%</p>
            <p style="width: 50%;">
                <img src="/images/processing-bg.png" style="margin-top: -18px; width: 157px;">
            </p>

            <div style="margin-top: 135px;">
                <p style="margin: 0px; width: 100%; text-align: center; padding-left: 26px;">Interruption Pictures:</p>

                <dl id="samplebyter" class="dropdownbyter" style="margin-left: 56px;">

                    <dt><a id="basicbyter"><span id="DefaultText" style="">Default AphidByte</span></a></dt>
                    <dd>
                        <ul id="byterclick">
                            @*<li id="DefaultAphidByte"><a>Default AphidByte</a></li>
                            @foreach (var item in ViewBag.CityList)
                            {
                                <li id="itemvalue"><a>@item.Text</a></li>  
                            }*@
                            <li><a href="#" class="itemval">Default AphidByte</a> <a></a></li>
                            <li><a href="#" class="itemval">Custom Interruption</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <div style="width: 28%; float: right; margin-top: 144px;">
            <p>
                <img src="~/Images/zoom_in.png" id="zoomin" />
            </p>
            <p>
                <img src="~/Images/zoomout.png" id="zoomout" />
            </p>
        </div>
    </div>


</div>

<div id="i-pop-up">
    <p>
    </p>
</div>
}
<div id="button-bg1" class="hidden" style="display: none">

    <div class="errormsg">
        Invalid File
    </div>
    <div id="button-c1">
        <img src="/img/button_bgw.png" />
    </div>


</div>
<div id="button-bg2" class="hidden" style="display: none">

    <div class="errormsg">
        please select Image & Pdf
    </div>
    <div id="button-c2">
        <img src="/img/button_bgw.png" />
    </div>

</div>
<div id="button-bg3" class="hidden" style="display: none">

    <div class="errormsg">
        Captcha Do no match
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" />
    </div>
</div>

<script src="jquery.mCustomScrollbar.js"></script>
<script>

    (function ($) {

        $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
        $(".browseInput").each(function (index) {
            if (index > 3)
                $(this).remove();
        });
        $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script type="text/javascript">
    function start() {
        
    }
    $(document).ready(function () {

        $("#generate").click(function () {
            window.location.href = "/Premium/GenerateClones";
        });


        var fileop;
        var fileinp;
        function CloseThis() {
            $("#ImgClose").hide();
        }
        $("#popup-close").click(function (e) {
            e.preventDefault();
            $("#popup").fadeOut("fast");
           
        });
        $("#previeww").click(function (){
            if ($("#SelectedIntFile").val() == "No Interruption") {
                $("#pdfview").attr('src', pdfSplitPath);
               // alert(pdfSplitPath);
                $("#popup").show();
            }
            else {

                if ($("#MatrixImage").val() != '' && $("#Pdf").val() != '') {

                    var File = $("#SelectedIntFile").val();
                    var Per = $("#PagePercentage").val();
                    var Title = $("#Title").val();
                    var Composer = $("#Composer").val();
                    var dd = $("#DefaultAphidByte").val();

                    $.post('/Premium/PdfInterruption',
                                          { IntF: File, FileName: fileinp, Percentage: Per, Image: fileop, Title: Title, ComposerName: Composer, Default: dd }, function (data) {
                                              //alert(data.name);
                                              //alert(data);
                                              $("#pdfview").attr('src', data);

                                          });

                    // $("#pdfview").removeAttr('data', '/pdffile/bb.pdf');

                    $("#popup").show();
                }




                else {
                    $("#button-bg2").dialog("open");
                }
            }
            
        });

        $(".itemval").click(function () {
            var value = $(this).text();
           
            var File = $("#SelectedIntFile").val();
            var Per = $("#PagePercentage").val();
            var Title = $("#Title").val();
            var Composer = $("#Composer").val();
            var dd = $("#DefaultAphidByte").val();

            $.post('/Premium/PdfInterruption',
                                  { IntF: value, FileName: fileinp, Percentage: Per, Image: fileop, Title: Title, ComposerName: Composer, Default: dd }, function (data) {
                                      //alert(data.name);
                                      //alert(data);
                                      $("#popup").show();
                                      $("#pdfview").attr('src', data);
                                  });
        });
        //$("#DefaultAphidByte").click(function () {
        //    var File = $("#SelectedIntFile").val();
        //    var Per = $("#PagePercentage").val();
        //    var Title = $("#Title").val();
        //    var Composer = $("#Composer").val();
        //    $("#pdfview").attr('data', '');
        //    var hh = $(this).text();
        //    //alert(hh);
        //    $.post('/Premium/PdfInterruption',
        //    { IntF: hh, FileName: fileinp, Percentage: Per, Image: fileop, Title: Title, ComposerName: Composer, Default: File }, function (data) {
        //        $("#pdfview").attr('data', '/pdffile/' + data);
        //    });
        //});
        //$("#itemvalue").click(function () {
        //    var File = $("#SelectedIntFile").val();
        //    var Per = $("#PagePercentage").val();
        //    var Title = $("#Title").val();
        //    var Composer = $("#Composer").val();
        //    $("#pdfview").attr('data', '');
        //    var hh = $(this).text();
        //    //alert(hh);
        //    $.post('/Premium/PdfInterruption',
        //    { IntF: hh, FileName: fileinp, Percentage: Per, Image: fileop, Title: Title, ComposerName: Composer, Default: File }, function (data) {
        //        $("#pdfview").attr('data', '/pdffile/' + data);
        //    });
        //});
        var prog = 0;
        $("#MatrixImage").change(function () {
            var value = $(this).val();
            var split = value.split('.');
            if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG")
            {
                document.getElementById("mmp").style.display = "none";
            }
            else
            {
                $("#button-bg1").dialog("open");
                $("#MatrixImage").val("");
            }

        });
        $('#MatrixImage').fileupload({
            dataType: 'json',
            url: '/Premium/MatrixImage',
            autoUpload: true,
            done: function (e, data)
            {
                document.getElementById("mmp").style.display = "none";
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $("#show_pop").hide();
                $('#Pdf').removeAttr('disabled', 'disabled');
                prog = 0;

            }

        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
            $("#Pdf").attr('disabled', 'disabled');
        });
        var pdfSplitPath;
        $('#Pdf').fileupload({
            dataType: 'json',
            url: '/Premium/pdffile',
            autoUpload: true,
            done: function (e, data)
            {
                document.getElementById("ppf").style.display = "none";
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $('#MatrixImage').removeAttr('disabled', 'disabled');
                prog = 0;
                $("#show_pop").hide();

                fileinp = data.result.name;
                var sp = fileinp.split('$');
                var fileinp1 = sp[0];
                 pdfSplitPath = sp[1];
                 //alert(pdfSplitPath);
               
                if (fileinp1 == "Invalid") {
                   
                    $("#Pdf").val("");
                }
                
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#MatrixImage").attr('disabled', 'disabled');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
        });

        $("#Pdf").change(function () {
            var value = $(this).val();
            var split = value.split('.');
            if (split[1] == "pdf" || split[1] == "PDF") {
                document.getElementById("ppf").style.display = "none";
            }
            else {
                $("#button-bg1").dialog("open");
                $("#Pdf").val("");
            }
        });

        $("#basicbyter").click(function () {
            $("#byterclick").toggle();
        });

        $("#byterclick li a").click(function () {
            var text = $(this).html();
            $("#basicbyter span").html(text);
            $("#byterclick").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick").hide();
        });

        $("#basicbyterone").click(function () {
            $("#byterclick2").toggle();
        });

        $("#byterclick2 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterone span").html(text);
            $("#byterclick2").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick2").hide();
        });

        $("#basicbytertwo").click(function () {
            $("#byterclick3").toggle();
        });

        $("#byterclick3 li a").click(function () {
            var text = $(this).html();
            $("#basicbytertwo span").html(text);
            $("#byterclick3").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick3").hide();
        });

        $("#basicbyterfour").click(function () {
            $("#byterclick4").toggle();
        });

        $("#byterclick4 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterfour span").html(text);
            $("#byterclick4").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick4").hide();
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $("#Captcha").val("");
   
        var captchaFlag = 0, isValid = 0;
        $("#submitbutton").attr('disabled', 'disabled');
        $("#Isvalid").change(function () {
            if ($("#Isvalid").attr('checked')) {
                isValid = 1;
                if (captchaFlag == 1) {
                    $("#submitbutton").removeAttr('disabled');
                }
                else { }
              
            } else {
               
                isValid = 0;
                $("#submitbutton").attr('disabled', 'disabled');
            }
        });
        $("#Captcha").change(function () {
            $.post("/Premium/GetCaptcha", function (retObject) {
                var bb = $("#Captcha").val();
                if (retObject != bb) {
                    $("#button-bg3").dialog("open");
                    captchaFlag = 0;
                    $("#submitbutton").attr('disabled', 'disabled');
                }
                else {
                    captchaFlag = 1;
                    if (isValid == 1) {
                        $("#submitbutton").removeAttr('disabled');
                    }
                }
            });
        });
        $('#button-c3').click(function () {
            $('#button-bg3').hide();
        });
    });
</script>

