@model AphidBytes.Accounts.Contracts.Model.PremiumAccountViewModel
@{
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;
    ViewBag.UsernameLabel = "Composer to be Displayed";

    Model.IsPasswordReadonly = true;
    Model.IsUserNameReadonly = true;
    ViewBag.SelectedPage = "acctinfo";
}

@section HeadScripts {
    @Styles.Render("~/bundles/css/register")
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts{
    @Scripts.Render("~/js/home/register.js")
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Premium/Shared/_PremiumAccountNav.cshtml")

        <div class="col-md-9">
            @if (Model.Validation.HasCta)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml", Model.Validation)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "payment-form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @*@Html.Partial("~/Views/Shared/_AccountInfoForm.cshtml", Model);*@
                        <div class="form-group">
                            @*<label for="txt-username" class="col-sm-3 control-label">@ViewBag.UsernameLabel:</label>*@
                            <label for="txt-username" class="col-sm-3 control-label">Username:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.UserName, new { id = "txt-username", @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                                <br />

                                <div class="hidden" id="UserNameDiv" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Already Exist!
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-firstname" class="col-sm-3 control-label">First Name:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.FirstName, new { id = "txt-firstname", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-lastname" class="col-sm-3 control-label">Last Name:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.LastName, new { id = "txt-lastname", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-emailaddress" class="col-sm-3 control-label">Email Address:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.EmailAddress, new { id = "txt-emailaddress", @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                @if (!Model.IsActive.HasValue || !Model.IsActive.Value)
                                {
                                    <a href="@Url.Action("SendVerificationMail", "Byter", null)"
                                       type="submit"
                                       id="runReport"
                                       target="_blank"
                                       class="button Secondary">
                                        Send  verification mail
                                    </a>
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-dob" class="col-sm-3 control-label">Date of Birth:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.DOB, new { id = "txt-dob", @class = "form-control date-picker" })
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-phonenumber" class="col-sm-3 control-label">Phone Number:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.Phone, new { id = "txt-phonenumber", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-profilepicture" class="col-sm-3 control-label">Profile Picture:</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProfilePicture, new { id = "txt-profilepicture", @class = "form-control", type = "file" })
                                @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                        @Html.Partial("~/Views/Shared/_AddressForm.cshtml", Model);

                        <br />
                        <br />
                        <br />

                        if (string.IsNullOrEmpty(Model.SocialNetworkSource))
                        {
                            @Html.Partial("~/Views/Shared/_SecurityQuestionForm.cshtml", Model);
                        }
                        

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>