@model AphidBytes.Accounts.Contracts.Model.PremiumGenerateCloneModel
@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@*ok div*@
<div id="buttn-suc" style="position: fixed; display: none; margin-top: 20%; margin-left: 38%; z-index: 850;">
    <img src="/Images/othre_popup_bg.png" width="47%" />
    <a style="position: absolute; margin-left: -45%; margin-top: 2%;">
        <img src="/Images/right-icone.png" width="98%" />
    </a>
    <div id="socialname1" style="color: white; height: 85px; margin-left: 15%; margin-top: -13%; overflow: hidden; width: 30%; word-wrap: break-word;"></div>
</div>
@*ok div*@


@*YesNo PopUP*@
<div id="show_pop" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Upload in Progress..</p></div>
</div>
</div>
</div>
@*YesNo PopUP*@

<div id="button-bg1" class="hidden popupyesorno" style="display: none;  text-align: center; width: 350px!important;">

    <div class="errormsg" style=" margin: 0;padding: 0;text-align: center;width: 100%!important;">
        Invalid File
    </div>
    <br />
    <div id="button-c1" class="yesornobutton">
        
        <button>Ok</button>


    </div>


</div>
<div id="button-bg2" class="hidden" style="display: none">

    <div class="errormsg">
        please select Audio
    </div>
    <div id="button-c2">
        <img src="/img/button_bgw.png" /></div>

</div>
<div id="button-bg3" class="hidden" style="display: none">

    <div class="errormsg">
        Captcha Do no match
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" />
    </div>
</div>

<div class="aphidtise_wrap">

    <div class="logid">
        <a style="cursor:pointer;" href="@Url.Action("Index","Home")"><img src="/images/hphidbytelogo.png"></a>
        <div class="logid_out">
            <ul>
                <li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
                <li><a href="~/Accounts/Logout">Logout</a></li>
            </ul>

            <div class="profilebg">
                <div class="migprofile">
                    @* <img src="/images/profilebg.png"> *@
                    <img src="@Url.Action("Overview", "Premium")" height="100px" />
                </div>
                <div class="premi-info-box">
                    <img src="/images/premiumaccount_star_bg.png" style="width: 100%;"><p class="preum-p-text">Premium Account</p>
                </div>
                <div class="premi-info-box">
                  <a href="@Url.Action("EditChannelPage","Premium")">    <img style="margin: 10px 0 0 10px;" src="/images/grid14bg.png"></a>
                </div>

            </div>

        </div>
    </div>

</div>
<div>
    <audio id="player" src="" />
</div>
@*popUp*@
<div>
    @* <div>
     <a id="popup-close" href="" class="button"><img src="~/Images/closebotton.png" onclick="CloseThis();" /> </a>
            </div>*@
    <div id="popup" style="display: none; margin-left: -44%; margin-top: -12%; margin-right: 7%; background: url(/images/aphidtisebg.png); overflow-y: scroll; height:90%;">


        <div id="result"></div>
   


        @*<a id="popup-close" href="" class="button">*@
        <img onclick="CloseThis();" src="/Images/closebotton.png" class="button" style="position: fixed; margin: -10px;" id="popup-close">
        @* </a>*@
        <p>
            @*<img src="" id="image-placeholder" width="200px" height="200px"  />*@
            <div class="popbyter-mianz" style="margin-top: -105px;">
                <div class="popbyter-miansub">
                    @*<div class="popbyter-subleft">
                       <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br />
                        <p><a href="#">Back</a></p>

                    </div>*@

                    <div class="popbyter-subright">
                        @*<p>Processing 72%</p>*@
                        <p style="margin-left: 477px; margin-right: 228px; margin-top: 35px;">
                            @*<img src="/images/processing-bg.png">*@
                            <div id="progressbar"></div>
                        </p>
                    </div>

                    <div class="popbyter-sub1">
                         <div class="newdragdiv"></div>

                        <div class="li_t_a" id="dragiing_div">
                            <img id="tick_img" src="/Images/online.png" style="left: 0%; cursor: pointer;">
                        </div>
                        <div class="popbyter-sub1left">
                            <span id="duration_pl" style="float: left; color: white; position: absolute; margin-top: 6%; font-size: 12px;">0.00</span>
                            <span id="duration_p" style="float: left; color: white; position: absolute; margin-top: 6%; margin-left: 35%; font-size: 12px;">0.00</span>
                            <img src="/images/byteraudiopbg1.png" id="waveimg" style="height: 346px; width: 108%;">
                        </div>
                        <div class="popbyter-sub1right">
                            <div class="byter-play-stop">
                                <div class="byter-p-s">
                                    <img src="/images/play-bt.png" id="PlayDefaultAudio">
                                </div>
                                <div class="byter-p-s">
                                    <img src="/images/stop-bt.png" id="PauseDefaultAudio">
                                </div>
                            </div>
                            <p>Interruption File:</p>

                            <dl id="samplebyter" class="dropdownbyter" style="margin: 5px 0 5px 5px; width: 210px;">

                                <dt><a id="basicbyter"><span id="DefaultText">Default AphidByte</span></a></dt>
                                <dd>
                                    <ul id="byterclick">
@*                                        <li><a>Default AphidByte</a></li>
                                        @foreach (var item in ViewBag.AudioFiles)
                                        {
                                            <li><a>@item.Text</a></li>  
                                        }*@
                                    </ul>
                                </dd>
                            </dl>
                            <p>Interruption Style:</p>
                            <dl id="samplebyter" class="dropdownbyter" style="margin: 5px 0 5px 5px; width: 210px;">
                                <dt><a id="basicbyterone"><span id="text1">Default AphidByte</span></a></dt>
                                <dd>
                                    <ul id="byterclick2">
                                        <li><a>Default </a></li>
                                        <li><a>Producer Tag Sequence</a></li>
                                        <li><a>Beginning of File</a></li>
                                        <li><a>Ending of File</a></li>
                                    </ul>
                                </dd>
                            </dl>



                        </div>
                    </div>

                    <div class="popbyter-footer1">
                        <div class="popbyter-footer1left">
                            <p style="font-size: 35px; text-align: center; padding: 30px;">“Song A”</p>
                            <p style="float: left; width: 10px;">
                                <img src="/images/indicates-bg.png">
                            </p>
                            <p style="margin: 12px 12px 7px 34px;">Indicates Interruption Portion</p>
                        </div>
                        <div class="popbyter-footer1left">
                            <p>
                                Default, the music streams
 and the audio interruption file interjects in the middle of song. The music resumes but not from the point in which it left off. The audio interruption replaces  the audio in the section in which it is placed.
                            </p>

                        </div>
                        <div class="popbyter-footer1left">
                            <p class="byter-preview"><a href="#">Preview</a></p>
                            <p class="byter-continue"><a href="#">Continue</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
</div>
@*popUp*@
<div class="header_aphidtise">
    <div id="logo">
        @*<a href="@Url.Action("Index","Home")" style="cursor:pointer;"> <img src="/images/hphidbytelogo.png"></a>*@
    </div>
    <div class="processingbyter">
        <div class="processingbyter-head">
            <div class="processingbyterleft">
                <p id="progresstext"></p>
                <p class="progressbar" role="progressbar" style="width: 0%" />
            </div>
            <div class="processingbyterright">
                <p>
                    <img src="/images/choose-existing.png">
                </p>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="headertab_aphidtise" style="width:100%;">
            <div class="aphidbyteleft" style="margin-top: 6px;">

                <ul class="aphidbytelist-preum">
                    <li><a href="PremiumAccountInfo">Account Info</a></li>
                    <li></li>
                    <li><a href="GenerateClones">Upload</a></li>
                    <li>
                        @*<img src="/images/right_line.png" height="2" width="98">*@</li>
                    <li><a href="PremiumMessage">Messages</a></li>
                    @if ((Model.NewCount != "0")&&(Model.NewCount!=null))
                    {
                        <div style="position: absolute; background-color: red; color: white; margin-top: -56px; margin-left: 97px; padding: 5px; border-radius: 67px;">@Model.NewCount</div>
                    }
                    <li></li>
                    <li><a href="Premiumbytetracker">Byte Tracker</a></li>
                    <li></li>
                    <li><a href="PremiumHistory">History</a></li>
                    <li></li>
                    <li><a href="PremiumDataplan">Data Plan</a></li>
                    <li></li>
                    <li><a href="PremiumPlaylist">Playlists</a></li>
                    <li></li>

                </ul>


                <div class="prebox">
                    <a href="Dashboard">Dashboard<img style="margin:-26px -70px auto;" class="pre-boxp" src="/images/premium_account_bg.png"></a>
                </div>

                <div class="mremium-tools">
                    <a href="PremiumTools">
                        <img src="~/images/premium-tools.png"></a>
                </div>

                <div class="info-footer-social"></div>
                @*<div class="premium_rightline"></div>*@
            </div>
            <p class="info-p"><span id="gen" style="cursor:pointer"> Upload</span><span style="cursor:pointer" id="byteyourmusic"> > Byte Your Music</span><span id="Single">> Album</span></p>
            <div class="aphidbytecenter content scrollWidth" id="content_1" style="height: 600px; margin-left: -250px; margin-top: 115px;">
                <div style="height: 600px; width: 100%;">
                    <div class="from_aphid">
                        <ul>
                            <li>
                                <label for="Company Logo">Title: </label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Title)
                            </li>
                            <li>
                                <label for="psw">Tags: </label>
                                @*<input type="text" name="psw" id="psw" size="30" />*@
                                @Html.EditorFor(model => model.Tags)
                                <label for="Tags">(Automatically Populates)</label>

                            </li>

                            <li>
                                <label for="Confirm Password">Artist Name:</label>
                                @*<input name="email" type="text" id="email" value="Artist Name cannot be modified" size="30" />*@
                                @*   @Html.EditorFor(model => model.ArtistName)*@
                                @Html.TextBoxFor(model => model.ArtistName, new { Value = AphidSession.Current.AuthenticatedUser?.Identity?.Username, @readonly = "readonly" })
                            </li>

                            <li>
                                <label for="First Name">Album Title:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.AlbumTitle)
                            </li>

                            <li>
                                <label for="Last Name">Upload File:</label>
                                @*<input type="file" form="file name">*@
                                @Html.TextBoxFor(model => model.Audio, new { type = "file", form = "file name" })
                                <label for="Tags">(.mp3 or .wav. Files only )</label>
                            </li>

                            <li>
                                <label for="Email Address">Upload Matrix Image:</label>
                                @*<input type="file" form="file name">*@
                                @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/*", form = "file name" })
                                <label for="Tags">(.jpg or .png files only )</label>
                            </li>

                            <li>
                                <label for="Date of Birth">Composers:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Composer)
                            </li>

                            <li>
                                <label for="Phone Number">Producers:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Producer)
                            </li>
                            <li>
                                <label for="Company Logo">Publisher:</label>
                                @*<input type="text" name="email" id="email" size="30" />*@
                                @Html.EditorFor(model => model.Publisher)


                            </li>

                            <li>
                                <label for="Company Logo">Select Interruption File:</label>
                            </li>
                            @* @Html.DropDownListFor(model => model.SelectedIntFile, new SelectList(ViewBag.CityList, "id", "Value"), "Select File") *@
                            @Html.DropDownListFor(model => model.SelectedIntFile, new List<SelectListItem> 
                            {
                                 new SelectListItem{Text="No Interruption"},
                                 new SelectListItem{Text="Default AphidByte"},
                                  new SelectListItem{Text="Custom Audio Interruption"}
                            }
                                )

                            <li>

                                <label for="Company Logo">Interruption Style:</label>
                            </li>
                            @Html.DropDownListFor(model => model.InterruptionStyle, new List<SelectListItem> 
                            {
                             new SelectListItem{Text="Default Randomized Entry"},
                             new SelectListItem{Text="Producer Tag Sequence"},
                             new SelectListItem{Text="Beginning of File"},
                             new SelectListItem{Text="Ending of File"} 
                                }
                                )

                            <li>
                                <label for="Company Logo">Available for Download:</label>
                            </li>
                            @Html.DropDownListFor(model => model.AvailableDownload, new List<SelectListItem> { 
                            new SelectListItem{Text="Yes"},
                            new SelectListItem{Text="No"}
                            })

                            <li>
                                <label for="Company Logo">Explicit Content?:</label>
                            </li>
                            @Html.DropDownListFor(model => model.ExplicitContent, new List<SelectListItem> {
                            new SelectListItem{Text="Yes"},
                            new SelectListItem{Text="No"}
                            })

                            <li>
                                <label for="Company Logo">Enter Captcha Code:</label>
                                @*<input type="text" name="email" id="email" size="30" /> *@
                                @Html.EditorFor(model => model.Captcha)
                                <p class="captcha">
                                    <img src="/Premium/ShowCaptchaImage">
                                </p>

                            </li>


                        </ul>



                    </div>
                </div>

                <div class="basicfooter-byter">
                    <div class="basicfooter-bytermain">
                        <div class="bytet-mfm">
                            @*<input name="" type="checkbox" value="" class="info-p">*@
                            @Html.CheckBoxFor(model => model.Isvalid)
                            <label for="Company Logo" class="info-p">Accept Terms & Conditions:</label>
                             <p class="track-t"id="trackNo"></p>

                        </div>
                        <div class="bytet-mfm"style="margin-left:-34px;">
                              <div>
                            <p>
                                <input type="submit" id="submitbutton" value="" style="background: url(/images/next-botton-byter.png); height: 78px; width: 109px; border: none; cursor: pointer;" />
                            </p>
                        </div>
                            <div>
                                <p>
                                    <a href="#">
                                        <img src="/images/sear-mcredi-byter.png" id="preview"></a>
                                </p>
                                <p class="infof-p">Preview</p>
                            </div>

                            <div>
                                <p>
                                    <input type="submit" value="" style="background: url(/images/ganrate_ppi.png);background-repeat: no-repeat; height: 78px; width: 85px; border: none;" formaction="AlbumFinish" />
                                </p>
                                <p class="info-p">Generate</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
    <script src="jquery.mCustomScrollbar.js"></script>
    <script>
        (function ($) {

            $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
            $(".browseInput").each(function (index) {
                if (index > 3)
                    $(this).remove();
            });
            $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

            $(window).load(function () {
                $(".content").mCustomScrollbar();
            });
        })(jQuery);
    </script>

    <script type="text/javascript">

        function CloseThis() {
            $("#popup").fadeOut("fast");
            player.pause();
        }
        $(document).ready(function () {
            $("#Title").val("");
            $("#Captcha").val("");

            $("#gen").click(function () {
                window.location.href = "/Premium/GenerateClones";
            });
            $("#byteyourmusic").click(function () {
                window.location.href = "/Premium/PremiumByteyourmusic";
            });
            $("#Single").click(function () {
                window.location.href = "/Premium/Premiumsingle";
            });
            var ff;
            var audioName;
            var imgname;
            var prog = 0;
            $('#Audio').fileupload({
                dataType: 'json',
                url: '/Premium/PreviewAudio',
                autoUpload: true,
                done: function (e, data) {
                    audioName = data.result.name;
                    $('.progressbar').css('width', 0 + '%');
                    document.getElementById('progresstext').innerHTML = '';
                    $('#Image').removeAttr('disabled', 'disabled');
                    prog = 0;
                    $("#show_pop").hide();
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressbar').css('width', progress + '%');
                document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
                $("#show_pop").attr('style', 'display:block');
                $("#Image").attr('disabled', 'disabled');
                $("#submitbutton").attr('disabled', 'disabled');
                prog = 1;
            });

            $('#Image').fileupload({
                dataType: 'json',
                url: '/Premium/PreviewImage',
                autoUpload: true,
                done: function (e, data) {
                    imgname = data.result.name;
                    $('.progressbar').css('width', 0 + '%');
                    document.getElementById('progresstext').innerHTML = '';
                    $("#show_pop").hide();
                    $('#Audio').removeAttr('disabled', 'disabled');
                    prog = 0;
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressbar').css('width', progress + '%');
                document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
                $("#show_pop").attr('style', 'display:block');
                $("#submitbutton").attr('disabled', 'disabled');
                prog = 1;
                $("#Audio").attr('disabled', 'disabled');
            });

            $(".byter-preview").click(function () {

                player.play();
            });
            $("#PlayDefaultAudio").click(function () {
                var qq = $("#DefaultText").text();
                var dd = $("#InterruptionStyle").val();
                var rr = $("#text1").text();
                // alert(audioName);
                if (qq != "Default AphidByte") {
                    qq = "Custom Audio Interruption";
                }
                if (rr == "Default Randomized Entry") {
                    // $("#popup").fadeIn("fast");
                    $("#waveimg").attr('src', '/images/byteraudiopbg1.png');
                }
                if (rr == "Producer Tag Sequence") { $("#waveimg").attr('src', '/images/byteraudiopbg2.png'); }
                if (rr == "Beginning of File") { $("#waveimg").attr('src', '/images/byteraudiopbg3.png'); }
                if (rr == "Ending of File") { $("#waveimg").attr('src', '/images/byteraudiopbg4.png'); }

                $.post('/Premium/Interruption',
                { IntF: qq, FileName: audioName, IntS: rr }, function (data) {
                    $("#player").attr('src', data);

                });
            });

            $("#PauseDefaultAudio").click(function () {
                player.pause();
            });
            var songPath = '';

            $("#preview").click(function () {


                if ($("#Audio").val() != '') {

                    $("#popup:visible").hide();

                    var intStyle = $("#InterruptionStyle").val();
                    var intFile = $("#SelectedIntFile").val();
                    $("#DefaultText").text(intFile);
                    $("#text1").text(intStyle);
                    $.post('/Premium/Interruption',
                    { IntS: intStyle, IntF: intFile, FileName: audioName }, function (data) {
                        $("#player").attr('src', data);
                        if (intStyle == "Default Randomized Entry") {
                            $("#popup").fadeIn("fast");
                            $("#waveimg").attr('src', '/images/byteraudiopbg1.png');
                        }
                        if (intStyle == "Producer Tag Sequence") { $("#popup").fadeIn("fast"); $("#waveimg").attr('src', '/images/byteraudiopbg2.png'); }
                        if (intStyle == "Beginning of File") { $("#popup").fadeIn("fast"); $("#waveimg").attr('src', '/images/byteraudiopbg3.png'); }
                        if (intStyle == "Ending of File") { $("#popup").fadeIn("fast"); $("#waveimg").attr('src', '/images/byteraudiopbg4.png'); }

                    });
                }
                else {
                    $("#button-bg2").dialog("open");
                }
            });



            $("#basicbyter").click(function () {
                $("#byterclick").toggle();
            });

            $("#byterclick li a").click(function () {
                var text = $(this).html();
                $("#basicbyter span").html(text);
                $("#byterclick").hide();
            });

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick").hide();
            });


            $("#basicbyterone").click(function () {
                $("#byterclick2").toggle();
            });

            $("#byterclick2 li a").click(function () {
                var text = $(this).html();
                $("#basicbyterone span").html(text);
                $("#byterclick2").hide();
            });

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick2").hide();
            });


            //$("#Image").change(function () {
            //    var name = $(this).val();
            //    var split = name.split('.');
            //    if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG") {

            //    }
            //    else {
            //        $("#button-bg1").dialog("open");
            //        $("#Image").val("");
            //    }

            //});

            $("#Audio").change(function () {
                var name = $(this).val();
                var split = name.substring(name.lastIndexOf('.') + 1);
                if (split == "mp3" || split == "MP3" || split == "wav" || split == "WAV") {

                }
                else {
                    $("#button-bg1").dialog("open");
                    $("#Audio").val("");
                }
            });


            $("#basicbytertwo").click(function () {
                $("#byterclick3").toggle();
            });

            $("#byterclick3 li a").click(function () {
                var text = $(this).html();
                $("#basicbytertwo span").html(text);
                $("#byterclick3").hide();
            });

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick3").hide();
            });


            $("#basicbyterfour").click(function () {
                $("#byterclick4").toggle();
            });

            $("#byterclick4 li a").click(function () {
                var text = $(this).html();
                $("#basicbyterfour span").html(text);
                $("#byterclick4").hide();
            });

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick4").hide();
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var captchaFlag = 0, isValid = 0;
            $("#submitbutton").attr('disabled', 'disabled');
            $("#Isvalid").change(function () {
                if ($("#Isvalid").attr('checked')) {
                    isValid = 1;
                    if (captchaFlag == 1) {
                        $("#submitbutton").removeAttr('disabled');
                    }
                } else {
                    alert("Accept Terms and Conditions");
                    isValid = 0;
                    $("#submitbutton").attr('disabled', 'disabled');
                }
            });
            $("#Captcha").change(function () {
                $.post("/Premium/GetCaptcha", function (retObject) {
                    var bb = $("#Captcha").val();
                    if (retObject != bb) {
                        $("#button-bg3").dialog("open");
                        captchaFlag = 0;
                        $("#submitbutton").attr('disabled', 'disabled');
                    }
                    else {
                        captchaFlag = 1;
                        if (isValid == 1) {
                            $("#submitbutton").removeAttr('disabled');
                        }
                    }
                });
            });
            $('#button-c3').click(function () {
                $('#button-bg3').hide();
            });


            $('#buttn-suc').click(function () {
                $('#buttn-suc').hide();
            });

            var abc = '@ViewBag.albumcount';
            abc++;
            var ttext = "Track " + abc;
            $('#trackNo').text(ttext);
            if ('@ViewBag.albumcount' >= 0) {
                $("#Isvalid").removeAttr('checked');
            }

            var bb = '@ViewBag.Messa';
            if (bb == "Album successfully uploaded..") {
                $("#socialname1").text('Album successfully uploaded..');
                $("#buttn-suc").show();
            }


            $("#tick_img").draggable({ containment: '.newdragdiv' });
            $("#tick_img").draggable({ axis: "x" });

            var durat;
            var oAudio = document.getElementById('tag_audio');
            oAudio.addEventListener("loadedmetadata", function (_event) {
                durat = oAudio.duration;
                //alert(durat);
                var timeline1 = document.getElementById('duration_p');
                var s11 = parseInt(oAudio.duration % 60);
                var m11 = parseInt((oAudio.duration / 60) % 60);
                if (s11 > 10) {
                    timeline1.innerHTML = m11 + ':' + s11;
                }
                else {
                    timeline1.innerHTML = m11 + ':0' + s11;
                }

            });
            oAudio.addEventListener("load", function () { }, true);

            oAudio.play();
            //var dur = parseInt(oAudio.duration % 60);
            //alert(dur);

            //
            oAudio.addEventListener("timeupdate", function () {
                var timeline = document.getElementById('duration_pl');
                var s = parseInt(oAudio.currentTime % 60);
                var m = parseInt((oAudio.currentTime / 60) % 60);
                if (s < 10) {
                    timeline.innerHTML = m + ':0' + s;
                }
                else {
                    timeline.innerHTML = m + ':' + s;
                }
                var progress = parseInt(oAudio.currentTime / oAudio.duration * 100, 10);
                $('#tick_img').css('left', progress + '%');
                //***
                $("#tick_img").mouseup(function () {
                    var lft = $("#tick_img").css('left').replace('px', '');
                    lft = parseInt(lft);
                    lft = (lft / 436) * 100;
                    lft = parseFloat(lft);
                    var a = tag_audio.duration;
                    a = parseFloat(a);
                    var x = (a * lft) / 100;
                    tag_audio.currentTime = x;
                    tag_audio.play();
                });

                //***

            }, false);


            //


        });
    </script>

