@{
    ViewBag.PageTitle = "Account";
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}
@model AphidBytes.Accounts.Contracts.Model.MessageModel
           


    <div class="header_aphidtise">
        <div class="menunav">
            <ul>
                <li><a href="Srevices" class="sect_l">Services</a></li>
                <li><a href="LoginUser">Login</a></li>
                <li><a href="#">The Gall</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="AboutUsPage">About Us</a></li>
                <li><a href="Support">Support</a></li>
            </ul>
        </div>
        <div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;"> </a> </div>
    </div>



<script type="text/javascript">
      $(function() {
        var moveLeft = 20;
        var moveDown =-50;
        
        $('a#trigger').hover(function(e) {
          $('div#i-pop-up').show();
          //.css('top', e.pageY + moveDown)
          //.css('left', e.pageX + moveLeft)
          //.appendTo('body');
        }, function() {
          $('div#i-pop-up').hide();
        });
        
        $('a#trigger').mousemove(function(e) {
          $("div#i-pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });
        
      });
    </script>
    
    <script type="text/javascript">
      $(function() {
        var moveLeft = -60;
        var moveDown =-80;
        
        $('a#trigger2').hover(function(e) {
          $('div#i-pop-up2').show();
          //.css('top', e.pageY + moveDown)
          //.css('left', e.pageX + moveLeft)
          //.appendTo('body');
        }, function() {
          $('div#i-pop-up2').hide();
        });
        
        $('a#trigger2').mousemove(function(e) {
          $("div#i-pop-up2").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });
        
      });
    </script>

 <style>
    /* CSS Document */


    h1 {
        font-size: 50px;
        text-align: center;
    }

    .container {
        width: 600px;
        margin: 0 auto;
    }

    .tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        /*// background: #2c3e50;*/
        border-bottom: 3px solid #525252;
    }

        .tabs li {
            display: inline-block;
            margin: 0;
            padding: 10px 20px 5px 20px;
            cursor: pointer;
            font-size: 1em;
            line-height: 2em;
            color: #FFF;
            font-family: MyWebFont;
            width: 20%;
            text-align: center;
        }

            .tabs li:hover {
                background: #d35400;
            }

            .tabs li.current {
                /*// background: #e67e22;*/
                color: #FFF;
                font-family: MyWebFont;
            }

    .tab-content {
        display: none;
        // background: #ededed;
        padding: 15px;
        line-height: 1.4;
        font-family: MyWebFont;
    }

        .tab-content.current {
            display: inherit;
            font-family: MyWebFont;
        }

    .col-1box {
        display: block;
        padding-left: 0;
    }

        .col-1box li {
            background-image: url("/images/inbox_ngimg.png");
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            font-size: 14px;
            height: 100%;
            list-style: outside none none;
            margin: auto auto 25px;
            min-height: 235px;
            padding: 34px;
        }

            .col-1box li p {
                width: 80%;
                float: left;
            }

    .colwth-a {
        width: 20% !important;
    }

    .edit_ing img {
        height: auto;
        padding-bottom: 0;
        padding-top: 2px;
        text-align: center;
        width: 40px;
    }
</style>


<div class="aphidtise_wrap">

<div class="logid">

<div class="logid_out" style="margin-top: 80px;">
<ul>
<li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
  <li><a href="~/Accounts/Logout">Logout</a></li>
</ul>

<div class="profilebg">
<div class="migprofile">  <img src="@Url.Action("Overview", "Premium")" height="100px" /> </div>
<div class="premi-info-box"><img src="/images/premiumaccount_star_bg.png" style="width:100%;"><p class="preum-p-text">Premium Account</p></div>
<div class="premi-info-box"><a href="@Url.Action("EditChannelPage","Premium")"> <img src="/images/grid14bg.png" style="margin: 10px 0 0 10px;"></a></div>
 
</div>

</div>
</div>

</div>

<div class="header_aphidtise" style="margin-right:10%;">
<div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;"> @*<img src="/images/hphidbytelogo.png">*@</a> </div>
<div class="headertab_aphidtise">
<div class="aphidbyteleft">

<ul class="aphidbytelist-preum">
<li><a href="PremiumAccountInfo">Account Info</a></li><li></li>
<li><a href="UploadMediaPremium">Upload</a></li><li></li>
<li><a href="PremiumMessage" class="basicselects">Messages</a></li><li><img src="/images/right_line.png" height="2" width="98"></li>
<li><a href="Premiumbytetracker">Byte Tracker</a></li><li></li>
<li><a href="PremiumHistory">History</a></li><li></li>
<li><a href="PremiumDataplan">Data Plan</a></li><li></li>
<li><a href="PremiumPlaylist">Playlists</a></li><li></li>

</ul>


  <div class="prebox">
            <a href="Dashboard">Dashboard<img src="~/images/premium_account_bg.png" class="pre-boxp"></a>
        </div>

<div class="mremium-tools"> <a href="PremiumTools"><img src="~/images/premium-tools.png" ></a></div>

<div class="info-footer-social"></div>
</div>
<p class="info-p" style="margin-bottom:25px;">Messages</p>
    @if (Model.NewCount != 0)
    {
        <div style="position: absolute; background-color: red; color: white; margin-top: -56px; margin-left: 97px; padding: 5px; border-radius: 67px;">@Model.NewCount</div> 
    }   
<div style="height:600px; width:100%;">
    <div id="content_1" class="aphidbytecenter content scrollWidth mCustomScrollbar _mCS_1" style="margin: 5px 0 0 0px;">

        <div style="position:relative; height:100%; overflow:hidden; max-width:100%;" id="mCSB_1" class="mCustomScrollBox mCS-light">
            <div style="position:relative; top:0;" class="mCSB_container">
                <div class="mecscroll2" style="width: 90%;">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="container">

                            <ul class="tabs">
                                <li class="tab current" data-tab="inboxtab" onclick="FetchMessageDetails()">Inbox</li>
                                <li class="tab edit_ing" data-tab="edittab"><img src="/images/inboxediticon.png" /></li>
                                <li class="tab" data-tab="outboxtab">Outbox</li>

                            </ul>
                            <span id="PartialMessage">
                               @Html.Partial("_MessageInbox")
                            </span>

                            <div id="edittab" class="tab-content">
                                <ul class="col-1box">
                                    <li>
                                        <p class="colwth-a">To :</p>
                                        <p>@Html.TextBoxFor(model => model.receiver_Email)</p>
                                        <p class="colwth-a">Username :</p>
                                        <p>@Html.TextBoxFor(model => model.receiver_username)</p>
                                        <p class="colwth-a">Subject :</p>
                                        <p>@Html.TextBoxFor(model => model.message_subject)</p>
                                        <p class="colwth-a">Body :</p>
                                        <p>@Html.TextBoxFor(model => model.message_body)</p>
                                    </li>
                                </ul>
                                <input type="submit" value="Send" />
                            </div>

                            <div id="outboxtab" class="tab-content">
                                <ul class="col-1box">
                                    @foreach (var item in Model.listMessageModel)
                                    {
                                        <li>
                                            <p class="colwth-a">To :</p>
                                            <p id="sendername">@item.sender_username</p>
                                            <p class="colwth-a">Message :</p>
                                            <p>@item.message_body</p>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div><!-- container -->
                    }

                    <div id="mec-footer">
                        <div id="i-pop-up">
                            <p>
                                Channels change when Category is changed. For example. If “Byte Your Music” is selected, Reverbnation, Myspace, Soundclick, etc. is shown as the options to select. If Videos is selected, Youtube, Dailymotion, etc. are the options. Etc. Same for ebooks, art and photos

                            </p>
                        </div>

                        @*<div id="i-pop-up2">
                               <p>
                             Links to Post category does not upload a file. It can only select a pre-existing Clone of theirs, that is already in The Matrix.

                               </p>
                            </div>*@
                    </div>


                    <script>
                        $(document).ready(function () {

                            $('ul.tabs li').click(function () {
                                var tab_id = $(this).attr('data-tab');

                                $('ul.tabs li').removeClass('current');
                                $('.tab-content').removeClass('current');

                                $(this).addClass('current');
                                $("#" + tab_id).addClass('current');
                            });

                        });
                    </script>


                    <script src="jquery.mCustomScrollbar.js"></script>

                    <script>
                        (function ($) {

                            $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
                            $(".browseInput").each(function (index) {
                                if (index > 3)
                                    $(this).remove();
                            });
                            $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

                            $(window).load(function () {
                                $(".content").mCustomScrollbar();
                            });
                        })(jQuery);
                    </script>

                    <script type="text/javascript">
                        //function FetchMessageDetails() {
                        //    $.ajax({
                        //        type: 'Post',
                        //        url: 'MessageInbox',
                        //        async: true,
                        //        success: function (result) {
                        //            $("#PartialMessage").html(result);

                        //        },
                        //        error: function (a, b, c) {

                        //            alert(a);
                        //        }
                        //    });

                        //}
                        $(document).ready(function () {

                            $('#upgradePremium').click(function () {
                                $("#yesno").attr('style', 'display:block');
                            });
                            $("#yes").click(function () {
                                $("#yesno").attr('style', 'display:none');
                                $.post('/Basic/UpgardeToPremium', {}, function (data) {
                                    if (data == "Success") {

                                        $("#upgradebox").attr('style', 'display:block');
                                    } else { $("#button-bg3").attr('style', 'display:block'); }

                                });

                            });
                            $("#no").click(function () {
                                $("#yesno").attr("style", "display:none");
                            });


                            $("#basicbyter").click(function () {
                                $("#byterclick").toggle();
                            });

                            $("#byterclick li a").click(function () {
                                var text = $(this).html();
                                $("#basicbyter span").html(text);
                                $("#byterclick").hide();
                            });

                            $(document).bind('click', function (e) {
                                var $clicked = $(e.target);
                                if (!$clicked.parents().hasClass("dropdownbyter"))
                                    $("#byterclick").hide();
                            });


                            $("#basicbyterone").click(function () {
                                $("#byterclick2").toggle();
                            });

                            $("#byterclick2 li a").click(function () {
                                var text = $(this).html();
                                $("#basicbyterone span").html(text);
                                $("#byterclick2").hide();
                            });

                            $(document).bind('click', function (e) {
                                var $clicked = $(e.target);
                                if (!$clicked.parents().hasClass("dropdownbyter"))
                                    $("#byterclick2").hide();
                            });

                            //$('body').on('click', '#inboxtab', function () {

                            //    $.ajax({
                            //        type: 'Post',
                            //        url: 'ReadMessages',
                            //        async: true,
                            //        success: function (result) {
                            //            if (result == "Success") {
                            //                //$(".basiccircle").html();
                            //                //alert($(this).find("#Showimage").attr('style'));
                            //                //$(this).find("#Showimage").hide();
                            //                $("#Showimage").hide();
                            //                var count = parseInt($(".basiccircle").html()) - 1;
                            //                $(".basiccircle").html(count);
                            //            }
                            //            else
                            //            {
                            //                $("#Showimage").hide();
                            //            }


                            //        },
                            //        error: function (a, b, c) {

                            //            alert(a);
                            //        }
                            //    });

                            //});



                            $("#basicbytertwo").click(function () {
                                $("#byterclick3").toggle();
                            });

                            $("#byterclick3 li a").click(function () {
                                var text = $(this).html();
                                $("#basicbytertwo span").html(text);
                                $("#byterclick3").hide();
                            });

                            $(document).bind('click', function (e) {
                                var $clicked = $(e.target);
                                if (!$clicked.parents().hasClass("dropdownbyter"))
                                    $("#byterclick3").hide();
                            });


                            $("#basicbyterfour").click(function () {
                                $("#byterclick4").toggle();
                            });

                            $("#byterclick4 li a").click(function () {
                                var text = $(this).html();
                                $("#basicbyterfour span").html(text);
                                $("#byterclick4").hide();
                            });

                            $(document).bind('click', function (e) {
                                var $clicked = $(e.target);
                                if (!$clicked.parents().hasClass("dropdownbyter"))
                                    $("#byterclick4").hide();
                            });



                            $("#basicbyter5").click(function () {
                                $("#byterclick5").toggle();
                            });

                            $("#byterclick5 li a").click(function () {
                                var text = $(this).html();
                                $("#basicbyter5 span").html(text);
                                $("#byterclick5").hide();
                            });

                            $(document).bind('click', function (e) {
                                var $clicked = $(e.target);
                                if (!$clicked.parents().hasClass("dropdownbyter"))
                                    $("#byterclick5").hide();
                            });



                        });

                        @*function readMsg(id) {
                            var divId = "inbox" + id;
                            $.ajax({
                                type: 'Post',
                                url: '@Url.Action("ReadMessages","Basic")',
                                data: ({ "msgId": id }),
                                async: true,
                                success: function (result) {
                                    if (result == "Success") {
                                        var count = parseInt($(".basiccircle").html());
                                        if (count > 0) {
                                            count -= 1;
                                            $(".basiccircle").html(count);
                                            $('#' + divId + ' .Showimage').hide();
                                        }
                                    }
                                },
                                error: function (a, b, c) {
                                    alert(a);
                                }
                            });
                        }*@
                    </script>


                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

                </div>
            </div>
        </div>

    </div>

</div>
</div>
</div>


</div>
<div id="mec-footer">
<div id="i-pop-up">
   <p>
   Channels change when Category is changed. For example. If “Byte Your Music” is selected, Reverbnation, Myspace, Soundclick, etc. is shown as the options to select. If Videos is selected, Youtube, Dailymotion, etc. are the options. Etc. Same for ebooks, art and photos

   </p>
</div>

<div id="i-pop-up2">
   <p>
 Links to Post category does not upload a file. It can only select a pre-existing Clone of theirs, that is already in The Matrix.

   </p>
</div>

<script src="jquery.mCustomScrollbar.js"></script> 
<script>
    (function($){

				$("#browseBtns,#browseBtnsAdd").fadeTo('slow',.2);
				$( ".browseInput" ).each(function( index ) {
				 if (index > 3)
				 $(this).remove();
				});
				$("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled',true);
				
        $(window).load(function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
 </script> 

<script type="text/javascript">
        $(document).ready(function() {

            $("#basicbyter").click(function() {
                $("#byterclick").toggle();
            });
                        
            $("#byterclick li a").click(function() {
                var text = $(this).html();
                $("#basicbyter span").html(text);
                $("#byterclick").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick").hide();
            });
			

			 $("#basicbyterone").click(function() {
                $("#byterclick2").toggle();
            });
                        
            $("#byterclick2 li a").click(function() {
                var text = $(this).html();
                $("#basicbyterone span").html(text);
                $("#byterclick2").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick2").hide();
            });
			
			
			
          $("#basicbytertwo").click(function() {
                $("#byterclick3").toggle();
            });
                        
            $("#byterclick3 li a").click(function() {
                var text = $(this).html();
                $("#basicbytertwo span").html(text);
                $("#byterclick3").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick3").hide();
            });
			
			
			$("#basicbyterfour").click(function() {
                $("#byterclick4").toggle();
            });
                        
            $("#byterclick4 li a").click(function() {
                var text = $(this).html();
                $("#basicbyterfour span").html(text);
                $("#byterclick4").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick4").hide();
            });
			
			
		   	
            $("#basicbyter5").click(function() {
                $("#byterclick5").toggle();
            });
                        
            $("#byterclick5 li a").click(function() {
                var text = $(this).html();
                $("#basicbyter5 span").html(text);
                $("#byterclick5").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick5").hide();
            });
			
			

        });
    </script>


 

