@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@model AphidBytes.Accounts.Contracts.Model.MessageModel
<script type="text/javascript">
    $(document).ready(function (e) {

        $("#abc").mouseover(function () {
            $("#pop-up-over-m").css('display', 'block');
        })
        $("#abc").mouseleave(function () {
            $("#pop-up-over-m").css('display', 'none');
        });

    });
</script>




<div class="aphidtise_wrap">

    <div class="logid">

        <div class="logid_out">
            <ul>
                <li><a href="#" style="color: #ffc000;">AdamLevl</a></li>
                <li><a href="#">Logout</a></li>
            </ul>

            <div class="profilebg">
                <div class="migprofile">
                    <img src="/Images/profilebg.png">
                </div>
                <div class="premi-info-box">
                    <img src="/Images/premiumaccount_star_bg.png" style="width: 100%;"><p class="preum-p-text">Premium Account</p>
                </div>
                <div class="premi-info-box">
                   <a href="@Url.Action("EditChannelPage","Premium")">    <img style="margin: 10px 0 0 10px;" src="/images/grid14bg.png"></a>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="header_aphidtise">
    <div id="logo">
       <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/Images/hphidbytelogo.png"></a>
    </div>

    <div class="zplay-list1">
        <div class="zplay-main1">
            <div class="zplay_grid1">
                <p class="info-p">Playlists > Favorites</p>
            </div>
            <div class="zplay_grid1">
                <div class="zplay_grid01">
                    <img src="/Images/favorites_ms.png" id="buttonclick2">
                </div>
                <div class="zplay_grid02">
                    <p>Favorites</p>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="headertab_aphidtise">
    <div class="aphidbyteleft" style="margin-left: 70px; margin-top: 6px;">

        <ul class="aphidbytelist-preum">
            <li><a href="PremiumAccountInfo">Account Info</a></li>
            <li></li>
            <li><a href="GenerateClones">Upload</a></li>
            <li></li>
            <li><a href="PremiumMessage">Messages</a></li>
             
            @if (Model.NewCount != 0)
            {
               <p class="in_c_text_3">@Model.NewCount</p> 
            }
            <li></li>
            <li><a href="Premiumbytetracker">Byte Tracker</a></li>
            <li></li>
            <li><a href="PremiumHistory">History</a></li>
            <li></li>
            <li><a href="PremiumDataplan">Data Plan</a></li>
            <li></li>
            <li><a href="PremiumPlaylist">Playlists</a></li>
            <li>
                <img src="/Images/right_line.png" height="2" width="103"></li>

        </ul>


        <div class="prebox">
            <p>Dashboard<img src="/Images/premium_account_bg.png" class="pre-boxp"></p>
        </div>

        <div class="mremium-tools">
            <a href="PremiumTools">
                <img src="~/images/premium-tools.png"></a>
        </div>

        <div class="info-footer-social"></div>
        <div class="premium_rightline"></div>
    </div>



    <div class="aphidbytecenter content scrollWidth" id="content_1" style="height: 600px; margin-top: 85px;">
        <div class="massage_index">

            <div class="add-playlist-da" id="closebox">
                <div class="tab2-boxtext-2z">
                    @if (ViewBag.PostdataFavourites != null)
                    {
                        foreach (var item in ViewBag.PostdataFavourites)
                        {
                        <ul>
                            <li>
                                <p id="@item.TrackingNumber" class="rec_pre" style="cursor:pointer; color: white; font-family: arial; font-size: 14px; margin-left: 0; margin-top: 0; text-align: center; width: 200px;">@item.FileName</p>
                            </li>
                            <li><a href="#" style="cursor: pointer; float: right; margin-left: 30%; margin-top: -1%; position: absolute;">
                                <img id="@item.TrackingNumber" class="cl_butn" src="/Images/close-m-i.png"></a></li>
                        </ul>
                        }
                    }
                    else
                    {
                        <div style="color: white;">Favourite List Currently Empty..</div> 
                    }
                </div>

                <div id="pop-up-over-m" style="margin-top: 10px;">
                    <img src="/Images/symbol-i.png" class="i-pop-abhid">

                    <div class="pop-up-ov">
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="massage-footer-m">
    <div class="play-save-cb">
        <a href="#">
            <img src="/Images/savech-play.png"></a>
    </div>

</div>
@*YesNo PopUP*@
<div id="yesno" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>Delete from Favourites?</p>
            </div>
            <div>
                <p id="yes"><a>Yes</a></p>
                <p id="no"><a>No</a></p>
            </div>
        </div>
    </div>
</div>
@*YesNo PopUP*@
@*mssg PopUP*@
<div id="msgbox" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>Item deleted from Favorites..</p>
            </div>
            <div>
                <p id="okk" style="margin-left: 27%;"><a>OK</a></p>
            </div>
        </div>
    </div>
</div>
@*mssg PopUP*@
@*errmssg PopUP*@
<div id="errmsgbox" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>Error deleting from Favorites..</p>
            </div>
            <div>
                <p id="eokk" style="margin-left: 27%;"><a>OK</a></p>
            </div>
        </div>
    </div>
</div>
@*errmssg PopUP*@

<script src="jquery.mCustomScrollbar.js"></script>
<script>
    (function ($) {

        var track;
        $('#no').click(function () {
            $("#yesno").hide();
        });
        $('#okk').click(function () {
            $('#msgbox').hide();
            location.href = "/Premium/PremiumFavoritesList"
        });
        $('#eokk').click(function () {
            $('#errmsgbox').hide();
            location.href = "/Premium/PremiumFavoritesList"
        });
        $('.cl_butn').click(function () {
            track = $(this).attr('id');
            $('#yes').attr('class', track);
            $("#yesno").attr('style', 'display: block; margin-top: -62%; margin-left: -6%;');
            $('#yes').click(function () {
                track = $(this).attr('class');
                $.post('/Premium/DelfromFav', { TrackingID: track }, function () { $("#yesno").hide(); }).done(function (data) {
                    if (data == true) {
                        $('#msgbox').attr('style', 'display: block; margin-top: -62%; margin-left: -6%;');
                    } else {
                        $('#errmsgbox').attr('style', 'display: block; margin-top: -62%; margin-left: -6%;');
                    }

                });
            });
        });

        $('.rec_pre').click(function () {
            var aaa = $(this).attr('id');
            $.post('/Premium/fetchcat', { trackno: aaa }, function (data) {
                window.location = data;
            });
        });


        $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
        $(".browseInput").each(function (index) {
            if (index > 3)
                $(this).remove();
        });
        $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script>
    $(document).ready(function () {
        $("#content").find("[id^='tab']").hide(); // Hide all content
        $("#tabs li:first").attr("id", "current"); // Activate the first tab
        $("#content #tab1").fadeIn(); // Show first tab's content

        $('#tabs a').click(function (e) {
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                return;
            }
            else {
                $("#content").find("[id^='tab']").hide(); // Hide all content
                $("#tabs li").attr("id", ""); //Reset id's
                $(this).parent().attr("id", "current"); // Activate this
                $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
            }
        });
    });
</script>

<script type="text/jscript">
    function divClicked() {
        var divHtml = [];

        $("#mydiv div").each(function () {
            divHtml.push($(this).html());
            var editableText = $("<input type='text' />");
            editableText.val($(this).html());
            $(this).replaceWith(editableText);
            editableText.blur(editableTextBlurred);
        });
        editableText.focus();
        // setup the blur event for this new textarea

    }

    function editableTextBlurred() {
        var html = $(this).val();
        var viewableText = $("<div>");
        viewableText.html(html);
        $(this).replaceWith(viewableText);
        // setup the click event for this new div
        //  viewableText.click(divClicked);
    }

    $(document).ready(function () {
        $("#buttonclick2").click(divClicked);
    });


    $("#closeicon").show();
    $("#closebox").click(function (event) {
        event.preventDefault();
        $(this).hide();
    });
</script>



