@model AphidBytes.Accounts.Contracts.Model.AdvertisementModel   
@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

  

<div class="aphidtise_wrap">
</div>
<div class="header_aphidtise">
  <div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/hphidbytelogo.png"></a> </div>
</div>
<div class="about_headtext"><p><a href="#">Back</a></p></div>
<div class="per_vad"><samp><a href="">Preview Ad</a></samp></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "postform", enctype = "multipart/form-data" }))
{
<div class="about_headbg" style="background:none !important;">

<div class="w_main_imax">
<div>
<p id="uplo" style="cursor:pointer;">Upload</p>
@*<input type="file" id="fileup" style="display:none;"/>*@
@Html.TextBoxFor(model => model.AdPicture, new { type = "file", form = "file name", id = "fileup", style = "display:none;" })
<p><img id="vi_d" src=@Model.AdPicture></p>
<p>Enter Price: $ @Model.PriceToDisplay</p>
<p><samp><img src="/Images/cr_d_img.png"/></samp id="credi">@Model.CreditsID credits</p>
<p style="color:#F3B801;">Image must be borderless in psd. or .png format</p>
</div>

<div>
<P id="titleinfo" style="cursor: pointer;">Edit</P>
<samp class="imax_tital"></samp>
<p id="tital">@Model.Title</p>
@Html.TextBoxFor(model => model.Title, new { id = "htm_tital", style = "display:none;", onChange = "F2()" })
<br/>
<p id="info">@Model.AdInformation</p>
@Html.TextAreaFor(model => model.AdInformation, new { id = "htm_info", style = "display:none;", onChange = "F3()" })
<p><samp>250 Characters</samp></p>
</div>

<div>

<p class="r_l_button"><samp><a href="#">Left</a></samp> or<samp> <a href="#">Right</a></samp></p>
<p><img src="/Images/3d-images_6.png"/></p>

<div class="imax_hand"><p id="pay" style="cursor:pointer;"><a>Proceed to payment and scheduling configuration</a></p>
                <input id="sub" type="submit" style="display:none;" /></div>

<div class="view_st_max" style=" width:33%;">
<p><a href="" id="ad_website">View Site</a></p>
<p style="height:15px;"></p>
<p id="hlink">@Model.AdHyperLinkUrl</p>
@Html.TextBoxFor(model => model.AdHyperLinkUrl, new { id = "htm_hlink", style = "display:none;", onChange = "F1()" })
<p id="edit_hlink" style="cursor: pointer;">Edit</p>
</div>
    @Html.TextBoxFor(model => model.TrackingNumber, new {style = "display:none;" })
    
</div>
</div>
<div class="menunav_footer2">
<ul style="background:none !important; clear:both;">
<li><a href="#">Navigation  </a></li>
<li><a href="#">Menu    </a></li>
<li><a href="#">Advertise   </a></li>
<li><a href="#">Store     </a></li>
<li><a href="#">Terms    </a></li>
<li><a href="#">Privacy Policy </a></li>
<li><a href="#">Sponsoring</a></li>
</ul>
</div>
</div>
}

<script>

    var imgpath = "";
    $('#uplo').click(function () {
        document.getElementById('fileup').click();
    });

    $('#fileup').fileupload({
        dataType: 'json',
        url: '/AphidTise/imgtodb',
        autoUpload: true,
        done: function (e, data) {
            imgpath = data.result.name;
            var video_pl = document.getElementById("vi_d");
            video_pl.setAttribute("src", imgpath);
        }

    });


    $('#titleinfo').click(function () {
        $('#tital').hide();
        $('#info').hide();
        $('#titleinfo').hide();
        $('#htm_tital').show();
        $('#htm_info').show();
    });
    function F2() {
        $('#tital').text($('#htm_tital').val());
        $('#tital').show();
        $('#htm_tital').hide();
    }
    function F3() {
        $('#info').text($('#htm_info').val());
        $('#info').show();
        $('#titleinfo').show();
        $('#htm_info').hide();
    }


    $(document).ready(function () {

        var link = document.getElementById("ad_website");
        link.href = "http://" + '@Model.AdHyperLinkUrl';

        $('#pay').click(function () {
            document.forms["postform"].submit();
            //$('#postform').submit();
        });

    });

    $('#edit_hlink').click(function () {
        $('#hlink').hide();
        $('#edit_hlink').hide();
        $('#htm_hlink').show();

    });
    function F1() {
        $('#hlink').text($('#htm_hlink').val());
        $('#hlink').show();
        $('#edit_hlink').show();
        $('#htm_hlink').hide();
        var link = document.getElementById("ad_website");
        link.href = "http://" + $('#htm_hlink').val();
         
    }

    
    $(document).ready(function() {
        $(window).keydown(function(event){
            if( (event.keyCode == 13)  ) {
                event.preventDefault();
                return false;
            }
        });
    });
    
</script>

