@model AphidBytes.Accounts.Contracts.Model.ByterAccountViewModel
@{
    ViewBag.PageTitle = "Account";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;
    ViewBag.UsernameLabel = "Username to be Displayed";
    ViewBag.SelectedPage = "acctinfo";

}

@section HeadScripts {
    @Styles.Render("~/bundles/css/register")
}

@section scripts{
    @Scripts.Render("~/js/home/register.js")
}


<div class="container-fluid">
    <div class="row">

        @Html.Partial("~/Views/Byter/Shared/_ByterAccountNav.cshtml")

        <div class="col-md-9">
            @if (Model.Validation.HasCta)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml", Model.Validation)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "payment-form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="txt-username" class="col-sm-3 control-label">@ViewBag.UsernameLabel:</label>
                            <div class="col-sm-4">
                                @Html.Label(Model.UserName, new { id = "txt-username", @class = "form-control disabled", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-password" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-4">
                                @Html.PasswordFor(model => model.Password, new { id = "txt-password", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-confirmpassword" class="col-sm-3 control-label">Confirm Password:</label>
                            <div class="col-sm-4">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { id = "txt-confirmpassword", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
           
        </div>
    </div>
</div>


@*delete confirm*@
<div id="del_pop" style="display:none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div><p>Are you sure to Delete Account?</p></div>
            <div><p><a id="delete_yes">Yes</a></p><p><a id="delete_no">No</a></p></div>
        </div>
    </div>
</div>
@*delete confirm*@
@*Confirm PopUp*@
<div style="display:none; margin-left: 13%; margin-top: 10%; position: absolute; width: 75%; z-index: 999;" id="del_confirm_box">
    <div class="bg_othr_box">
        <div class="bg_othr_box_1">
            <P>Account Delete Successful</P>
            <p></p>
            <p style="margin-top: 22px; margin-left: 137px;"><img src="~/Images/right-icone.png"></p>

            <P style="margin-top: 88px;"><a href="~/Accounts/Logout">OK</a></P>
        </div>
    </div>
</div>
@*Confirm PopUp*@
<script>
    (function ($) {

        $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
        $(".browseInput").each(function (index) {
            if (index > 3)
                $(this).remove();
        });
        $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
        $('#show_del_pop').click(function () {
            $("#del_pop").attr('style', 'display:block;');
        });
        $('#delete_no').click(function () {
            $("#del_pop").attr('style', 'display:none;');
        });
        $("#delete_yes").click(function () {
            $("#del_pop").attr('style', 'display:none');
            $.post('/Byter/deleteAccount', {}, function (data) {
                if (data == "Success") {
                    $("#del_confirm_box").attr('style', 'display:block');
                } else { $("#button-bg3").attr('style', 'display:block'); }

            });

        });
    })(jQuery);
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SocialIndex").click(function () {
            window.location.href = "/SocialNetworks/Index";
        });

    });

</script>
