@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<div id="new_pop_d"  style="display:none; position:absolute; z-index:999; margin-top:17%; margin-left:30%;" onclick="$(this).hide();">
<img src="/Images/Success_Button_d.png" style="width:60%;"/>
</div>

<div id="new_pop"  style="display:none; position:absolute; z-index:999; margin-top:17%; margin-left:30%;" onclick="$(this).hide();">
<img src="/Images/Success_Button_c.png" style="width:60%;"/>
</div>

 <div class="black_screen" style="display: none;"></div>
<div id="closeboxa" style="display: none">
    <img src="/img/overboxbg.png">
    <div class="closetext">
        <a href="#" id="closebta">
            <img src="/img/close.png" onclick="DialogCloseFunction()"></a>
        <div class="texmpi-c">
            <img src="/img/mixbotton.png">
        </div>
        <ul id="addpl" class="texmpi-ct">
        </ul>
        <div class="effectpic">
            <img src="/img/effectsbg.png">
        </div>
    </div>

</div>


<div class="aphidtise_wrap">

    <div class="logid">

        <div class="logid_out">
            <ul>
                <li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
                <li><a href="~/Accounts/Logout">Logout</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="socialsetupwrap" style="width: 100%;">
    <div style="width: 20%; float: left; margin: 30px 25px 0;">
        <div class="logosocila">
            <img src="/Images/bphidbyte_sicon2.png">
        </div>
        <div class="tophedboxa">
            <p onclick="goBack()" style="color: #FFC000; cursor: pointer">Back</p>
        </div>
    </div>

    <div class="socialhead-view">
        <div class="matrix-viewbox3">
            @foreach (var item in ViewBag.PostData)
            {
                <div class="mviewboxa">
                    <div class="mview-pic">
                        <img src="@Url.Action("Overview", "Byter")"/>
                    </div>
                    <div class="mview-rightbox">
                        <div id="explicit_content" class="e_p_t1" style="display: none;">
                            <img src="/Images/e_icon.png" />
                        </div>
                        <p>
                            Jay-Z<br>
                            Tom Ford<br>
                            Magna Carta Holy Grail<br>
                            www.aphidbyte.com/JayZ
                        </p>
                        <p style="color: #e46c0a; margin-top: 10px;">Tracking #: 0003232</p>
                        <div class="view-channel">
                            <a href="PdfEbookPosting">
                                <img src="/Images/view-channel.png"></a>
                        </div>
                    </div>

                    <div class="aphid-c">
                        <img src="/Images/aphid-teclogo.png">
                        <p>Return to The Gall</p>
                    </div>
                </div>


                <div class="mviewboxb">
                    <p><a href="#">EBook</a></p>
                    <samp id="greenbu">
                        <a href="#">
                            <img src="/Images/green.png" id="openpopup"></a></samp>
                       <div class="mview-mp"><img src="@item.MatrixImageBytePath"style="cursor:pointer;"></div>
                    @*<div class="mview-mp"><img src="/Images/jay-zm.png"></div>
<div id="play-p"><img src="/Images/play-pic.png"></div>*@


                </div>

                <div class="mviewboxc">
                    @*<img src="/Images/amazone-p.png">
<p>$0.87</p>
<img src="/Images/itunes.png">
<p>$1.29</p>
<img src="/Images/googleplay.png">
<p>$0.99</p>*@

                    <a href="@item.VideoFile" id="avail_Down">
                        <img id="imageDownload" src="" style="width: 25%; margin-top: 40px; height: auto;">
                        <script>
                            var filename = '@item.VideoFile';
                            filename = filename.substr(filename.lastIndexOf('_') + 1);
                            $('#avail_Down').attr('download', filename);
                            if ('@item.AvailableDownload' == 'Yes') {
                                var i = "/Images/dwonload.png";
                                $('#imageDownload').attr('src', i);
                            } else {
                                var i = "/Images/dwonloadbw.png";
                                $('#imageDownload').attr('src', i);
                                $('#avail_Down').click(function (e) {
                                    e.preventDefault();
                                });
                            }
                            if (('@item.ExplicitContent' == '1') || ('@item.ExplicitContent' == 'Yes')) {
                                $('#explicit_content').show();
                            } else {
                                $('#explicit_content').hide();
                            }
                        </script>
                    </a>
                    <img id="confirmboxfav"  src="/Images/favopiv.png" style="width: 22%; height: auto; margin-top: 295px;">
                    <p style="margin-top: 302px;">REPORT</p>
                </div>
                <div id="toPopup" style="left: 4% !important; margin: auto !important; width: 90%; top: 7%; border: none; z-index: 999; opacity: 0.9; bottom: 4%;background-color:black
    ">
  @*  <div style="position: absolute; width: 20%;">
     <img src="/img/hphidbytelogo.png" /></div>*@
    <div class="close"></div>
    <samp class="out_close" style="margin-top: -2%;">Close to go back to previous screen</samp>
  
     <div class="popuppic"style=" height: 80%;margin-left: 25%;margin-top: 2%;width: 40%;">
                    <iframe src="@item.UploadFilePDFPath" style="width: 600px; height: 550px;" id="pdfview" frameborder="0"></iframe>
                    </div>
 
      <img src="~/Images/addtofavs.png" /style=" height: 89px;margin-left: 480px;margin-top: -123px;position: absolute;width: 109px;">
      <img src="~/Images/Download_icon.png" /style="height: 99px;margin-left: 360px;margin-top: -134px;position: absolute;width: 91px;">
      
 
      
 
 </div>
            }
        </div>


    </div>


    <div class="mview-footer">
        <samp>People who viewed this also viewed</samp>
        <div class="fram-m">
            <div id='prev' class="mecnext_s" style="width: 10%; float: left;">
                <img src="/Images/prev_s.png">
            </div>
            <div id="slider1" style="width: 80%; float: left; height: 90px;">

                <div class="slli-main">
                    <div class="fram-s">
                        <img src="/Images/framepic1.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic2.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic3.png" class="fram-sf">
                    </div>
                </div>

                <div class="slli-main">
                    <div class="fram-s">
                        <img src="/Images/Jay-Z-pic.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic2.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic2.png" class="fram-sf">
                    </div>
                </div>

                <div class="slli-main">
                    <div class="fram-s">
                        <img src="/Images/Jay-Z-pic.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic2.png" class="fram-sf">
                    </div>
                    <div class="fram-s">
                        <img src="/Images/framepic2.png" class="fram-sf">
                    </div>
                </div>


            </div>
            <div id='next' class="mecnext_s" style="width: 10%; float: left;">
                <img src="/Images/next_s.png">
            </div>
        </div>


    </div>
</div>


<div class="m-footer">

    <ul class="navlinksm_b">
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy Policy  </a></li>
        <li><a href="#">Sponsoring</a></li>
    </ul>


</div>

@*YesNo PopUP*@
<div id="yesno" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>Add EBook to Favourites?</p>
            </div>
            <div>
                <p id="yes"><a>Yes</a></p>
                <p id="no"><a>No</a></p>
            </div>
        </div>
    </div>
</div>
@*YesNo PopUP*@
@*mssg PopUP*@
<div id="msgbox" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>EBook Added to Favorites..</p>
            </div>
            <div>
                <p id="okk"><a>OK</a></p>
            </div>
        </div>
    </div>
</div>
@*mssg PopUP*@
@*errmssg PopUP*@
<div id="errmsgbox" style="display: none;">
    <div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
        <div class="bg_yes_no">
            <div>
                <p>Error Adding to Favorites..</p>
            </div>
            <div>
                <p id="eokk"><a>OK</a></p>
            </div>
        </div>
    </div>
</div>
@*errmssg PopUP*@




<script language="javascript">
    $(document).ready(function () {

        $('#slider1').cycle({
            fx: 'scrollHorz', //'scrollLeft,scrollDown,scrollRight,scrollUp',blindX, blindY, blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, none, scrollUp,scrollDown,scrollLeft,scrollRight,scrollHorz,scrollVert,shuffle,slideX,slideY,toss,turnUp,turnDown,turnLeft,turnRight,uncover,ipe ,zoom
            speed: 'slow',
            timeout: 0,
            next: '#next',
            prev: '#prev',
            pager: '#thumb',

            pagerAnchorBuilder: function (idx, slide) {
                return '<li><a href="#"><img src="' + slide.src + '" width="60" height="60" /></a></li>';
            }
        });
    });


    $("#openpopup").click(function () {
        plalist_show();

    });

    function DialogCloseFunction() {
        $("#closeboxa").hide();
        $(".black_screen").hide();

    }

    function plalist_show() {
        var plCount = 0;
        $.post('/Premium/totalplaylist').done(function (count) {
            plCount = count;
        });
        var songtrackid = $(this).attr('id');
        var htmldialogcontent = '';
        //alert(songtrackid);
        $.post('/Premium/GetPlayList', { TrackingID: '@Session["Trackingnumber"]' }, function () {
        }).done(function (dataa) {
            if (dataa.length > 0) {
                htmldialogcontent = '';
                var i = 0;
                while (i < dataa.length) {

                    htmldialogcontent += '<li class="playname_dialogbox" id="' + dataa[i].toString() + '">' + dataa[i].toString() + '</li>';

                    i++;
                }
                if (plCount < 15) {
                    htmldialogcontent += '<p id="editable_name"> Create Playlist</p>';
                }
            } else {
                htmldialogcontent = '';
                if (plCount < 15) {
                    htmldialogcontent += '<p id="editable_name"> Create Playlist</p>';
                }
                else {
                    htmldialogcontent += '<p> playlist count full   </p>';
                }

            }
            $("#addpl").empty();
            $("#addpl").append(htmldialogcontent);
            $(".black_screen").show();
            $("#closeboxa").show();
        });


    }

    $("#addpl").on('click', '.playname_dialogbox', function () {
        var newPlayName = $(this).text();
        var resultFetched = false;
        $.post('/Premium/AddSongToPlaylist', { PlaylistName: newPlayName, TrackingID: '@Session["Trackingnumber"]' }, function (dat) {
        resultFetched = dat;
    }).done(function () {
        if (resultFetched == true) {
            $("#new_pop").show();
            $("#closeboxa").hide();
            $(".black_screen").hide();
        }
        else {
            $("#new_pop_d").show();
            $("#closeboxa").hide();
            $(".black_screen").hide();
        }
    });

});


    $('#confirmboxfav').click(function () {
        $("#yesno").attr('style', 'display:block; margin-top: -50%; margin-left: -5%;');
    });
    $('#no').click(function () {
        $("#yesno").hide();
    });
    $('#okk').click(function () {
        $('#msgbox').hide();
    });
    $('#eokk').click(function () {
        $('#errmsgbox').hide();
    });

    $('#yes').click(function () {
        $.post('/Basic/AddSongtoFav', { TrackingID: '@Session["Trackingnumber"]' }, function () { $("#yesno").hide(); }).done(function (data) {
            if (data == true) {
                $('#msgbox').attr('style', 'display:block; margin-top: -50%; margin-left: -5%;');
            } else {
                $('#errmsgbox').attr('style', 'display:block; margin-top: -50%; margin-left: -5%;');
            }

        });
    });


    $(".mview-mp").click(function () {
        $("#toPopup").show();
    })
    $("#closeicon").show();
    $(".close").click(function () {
        $("#toPopup").hide();

    });


function goBack() {
    window.history.back();
}


 </script>