@model AphidBytes.Accounts.Contracts.Model.BasicGenerateCloneModel
@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@*YesNo PopUP*@
<div id="show_pop" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Upload in Progress..</p></div>
</div>
</div>
</div>
@*YesNo PopUP*@

@if (ViewBag.Sucess)
{
    <div id="Success_pop" style="display:block; position:absolute; z-index:999; margin-top:17%; margin-left:30%;" onclick="$(this).hide();">
        <img src="/Images/Success_Button_c.png" style="width:60%;" />
    </div>
}


<div id="button-bg1" class="hidden popupyesorno" style="display: none;  text-align: center; width: 350px!important;">

    <div class="errormsg" style=" margin: 0;padding: 0;text-align: center;width: 100%!important;">
        Invalid File
    </div>
    <br />
    <div id="button-c1" class="yesornobutton">
        
        <button>Ok</button>


    </div>


</div>
<div id="button-bg2" class="hidden" style="display: none">

    <div class="errormsg">
        please select Video
    </div>
    <div id="button-c2">
        <img src="/img/button_bgw.png" />
    </div>

</div>
<div id="button-bg3" class="hidden" style="display: none">

    <div class="errormsg">
        Captcha Do no match
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" />
    </div>

</div>

<div id="confmBox" class="confirm_send_mail_div sendme_con" style="display:none;">
    
    <div>
        <h5 class="sendme_con_h5">
         Confirmation:<img onclick="close_confmBox_popup()" class="cancel_delete-link" style="cursor: pointer; float: right; margin-top: 7px;" src="/Images/close.png">
        </h5>
        <p style="margin-top:8%;">
         <strong>Are you Sure want to Upgrade ?</strong> <span id="Ncontacts">
</span>
        </p>
       

        <div class="btn-group sendme_con_groupbtn">
         <button id="confrm_yes"  class="btn add  sendme_con_yes" onclick="UpgradeTOPremium()">Yes</button>
         <div class="btn cancel sendme_con_no" onclick="close_confmBox_popup()" style="cursor: pointer;">No</div>
        </div>

       </div>
      </div>
<div id="yesno" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Are you sure to Upgrade?</p></div>
<div><p id="yes"><a href="#">Yes</a></p><p id="no"><a href="#">No</a></p></div>
    </div>
</div>
</div>

<div id="button-bg4" class="hidden" style="display: none">

    <div class="errormsg">
        Error Occured Try Again
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" /></div>

</div>

<div style="display:none;" id="upgradebox">
<div class="bg_othr_box">
<div class="bg_othr_box_1">
<P>Account Upgraded Successfully Completed</P>
<p></p>
<p style="margin-top: 22px; margin-left: 137px;"><img src="~/Images/right-icone.png"></p>

<P style="margin-top: 88px;"><a href="~/Accounts/Logout">OK</a></P>
</div>
</div>
</div>






@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
    <div class="aphidtise_wrap">

        <div class="logid">

            <div class="logid_out">
                <ul>
                    <li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
                    <li><a href="~/Accounts/Logout">Logout</a></li>
                </ul>

                <div class="profilebg">
                    <div class="migprofile">
                        <img src="@Url.Action("Overview", "Basic")" height="100px" />
                        @*  <img src="/images/profilebg.png">*@
                    </div>
                    <div class="profiletext-ct-info">
                        <img src="/images/clone-pa.png">
                        Basic Account
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="imagePopUp">
        @* <input type="submit" />*@
        <div id="backgroundPopupImage"></div>
    </div>@*
     <div id="toPopup">

    <div class="close"></div>

    <div id="popup_content">
        <!--your content start-->

        <div class="pop-mian">
            <p class="pop-texts" style="margin-top: 20px; width: 40%;">Audio Interruption Files:</p>
            <p>
                <img src="/images/goone-bg.png">
            </p>
            <div style="float: left; width: 50%; height: 100px;">
                <p class="pop-texts">(Short Audio Files only)</p>
                <br />
                <p class="pop-texts">
                    Min Length 0:25<br />
                    Max Length 0:50
                </p>

            </div></div>
        </div>
         </div>*@
     
     
    <div class="header_aphidtise">
        <div id="logo">

        <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/hphidbytelogo.png"></a>

         

        </div>
        <div class="processingbyter">
            <div class="processingbyter-head">
                <div class="processingbyterleft">
                   <p id="progresstext"></p>
                    <p class="progressbar" role="progressbar" style="width: 0%" />
                </div>
                <div class="processingbyterright">
                    <p>
                        <img src="/images/choose-existing.png">
                    </p>
                </div>
            </div>
        </div>


        <div class="headertab_aphidtise">
            <div class="aphidbyteleft">

                <ul class="aphidbytelist-basic">
                    <br />
                    <br />
                    <br />
                    <li><a href="BasicAccountInfo">Account Info</a></li>
                    <li></li>
                    <li><a href="Uploadmedia">Upload</a></li>
                    <li>
                        <img src="/images/right_line.png" height="2"></li>
                    <li><a href="Message">Messages</a></li>
                    @if (Model.NewCount != "0")
                    {
                     <p class="in_c_text_4">@Model.NewCount</p> 
                    }
                    <li></li>
                    <li><a href="bytetracker">Byte Tracker</a></li>
                    <li></li>
                    <li><a href="History">History</a></li>
                    <li></li>
                    <li><a href="Playlist">Playlists</a></li>
                    <li></li>
                    <li><a href="Dataplan">Data Plan</a></li>
                    <li></li>
                </ul>

                <div class="dsbox-basic">
                    <p>Dashboard<img src="/images/das-left.png"></p>
                </div>
                <p class="dstext-basic">
                    UPGRADE to
                    <samp id="upgradePremium" style="cursor:pointer;">Premium</samp>
                </p>

                <div class="info-footer-social"></div>
                <div class="aphidbyteleftright-basic"></div>
            </div>
            <p class="info-p" style="cursor: pointer;"><span id="gen">Upload</span><span>> Byte Your Video</span></p>
            <div style="height: 600px; width: 100%;">
                <div class="from_aphid" style="width: 75%;">
                    <ul>
                        <li>
                            <label for="Company Logo">Title: </label>
                            @Html.EditorFor(model => model.Title)
                            @*<input type="text" name="email" id="email" size="30" />*@
                        </li>
                        <li>
                            <label for="psw">Tags: </label>
                            @Html.EditorFor(model => model.Tags)
                            @*<input type="text" name="psw" id="psw" size="30" />*@
                            <label for="Tags">(Automatically Populates)</label>

                        </li>

                        <li>
                            <label for="Confirm Password">Artist Name:</label>
                            @*  @Html.EditorFor(model => model.ArtistName)*@
                            @*<input name="email" type="text" id="email" value="Creator Name cannot be modified" size="30" />*@
                            @Html.TextBoxFor(model => model.ArtistName, new { Value = username, @readonly = "readonly" })
                        </li>

                        <li>
                            <label for="First Name">Album Title:</label>
                            @Html.EditorFor(model => model.AlbumTitle)
                            @*<input type="text" name="email" id="email" size="30" />*@
                        </li>

                        <li>
                            <label for="Last Name">Upload File:</label>
                            @Html.TextBoxFor(model => model.Video, new { type = "file", form = "file name" ,accept="audio/*,video/*"})
                            @*<input type="file" form="file name">*@
                            <label for="Tags" style="text-align: center;">( .avi, .mp4, .mpeg, .mov, .flv. Or .wmv Files only )</label>
                        </li>

                        <li>
                            <label for="Email Address">Upload Matrix Image:</label>
                            @Html.TextBoxFor(model => model.WatermarkMatrixImage, new { type = "file", accept = "image/*", form = "file name" })
                            @*<input type="file" form="file name">*@
                            <label for="Tags">(.jpg or .png files only )</label>
                        </li>

                        <li>
                            <label for="Date of Birth">Composers:</label>
                            @Html.EditorFor(model => model.Composer)
                            @*<input type="text" name="email" id="email" size="30" />*@
                        </li>

                        <li>
                            <label for="Phone Number">Producers:</label>
                            @Html.EditorFor(model => model.Producer)
                            @*<input type="text" name="email" id="email" size="30" />*@
                        </li>
                        <li>
                            <label for="Company Logo">Publisher:</label>
                            @Html.EditorFor(model => model.Publisher)
                            @*<input type="text" name="email" id="email" size="30" />*@


                        </li>

                        <li>
                            <label for="Company Logo">Select Interruption File:</label>
                        </li>
                        @Html.DropDownListFor(model => model.SelectedIntFile, new List<SelectListItem> 
                        {
                        new SelectListItem{Text="No Interruption"},
                        new SelectListItem{Text="Default AphidByte"},
                        new SelectListItem{Text="Beginning of File"},
                        new SelectListItem{Text="Custom Video Interruption"} 
                            }
                             )

                        @* <dl id="samplebyter" class="dropdownbyter" style="margin: -10px 0 18px 195px; width: 210px;">
                            <dt><a id="basicbyterone"><span id="getname">Select Interruption File:</span></a></dt>
                            <dd>
                                <ul id="byterclick2">
                                    <li><a>Default Randomized Entry</a></li>
                                    @foreach (var item in ViewBag.CityList)
                                    {
                                        <li><a>@item.Text</a></li>
                                    }
                                </ul>
                            </dd>
                        </dl>*@
                        <li>

                            <label for="Company Logo">Interruption Style:</label>
                        </li>


                        @Html.DropDownListFor(model => model.InterruptionStyle, new List<SelectListItem> 
                        {
                        new SelectListItem{Text="Default Randomized Entry"},
                        new SelectListItem{Text="Producer Tag Sequence"},
                        new SelectListItem{Text="Beginning of File"},
                        new SelectListItem{Text="Ending of File"} 
                            }
                             )
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterone"><span>Constant Banner Display</span></a></dt>
        <dd>
            <ul id="byterclick2">
                <li><a>Default Randomized Entry</a></li>
                <li><a>Producer Tag Sequence</a></li>
                <li><a>Beginning of File</a></li>
                <li><a>Ending of File</a></li>
            </ul>
        </dd>
    </dl>*@
                        <li>

                            <label for="Company Logo">Category:</label>
                        </li>

                        @Html.EditorFor(model => model.VideoCategory)
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyter5"><span>Science & Technology</span></a></dt>
        <dd>
            <ul id="byterclick5">
                <li><a>No Interruption</a></li>
                <li><a>Default AphidByte Audio Interruption</a></li>
                <li><a>Custom Audio Interruption</a></li>
            </ul>
        </dd>
    </dl>*@
                        <li>

                            <label for="Company Logo">Available for Download:</label>
                        </li>
                        @Html.DropDownListFor(model => model.AvailableDownload, new List<SelectListItem> { 
new SelectListItem{Text="Yes"},
new SelectListItem{Text="No"}

})
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbytertwo"><span>Please Select</span></a></dt>
        <dd>
            <ul id="byterclick3">
                <li><a>Yes</a></li>
                <li><a>No</a></li>
               </ul>
        </dd>
    </dl>*@
                        <li>
                            <label for="Company Logo">Explicit Content?:</label>
                        </li>

                        @Html.DropDownListFor(model => model.ExplicitContent, new List<SelectListItem> {
new SelectListItem{Text="Yes"},
new SelectListItem{Text="No"}
})
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterfour"><span>Please Select</span></a></dt>
        <dd>
            <ul id="byterclick4">
               <li><a>Yes</a></li>
               <li><a>No</a></li>
            </ul>
        </dd>
    </dl>*@

                        <li>
                            <label for="Company Logo">Enter Captcha Code:</label>

                            @*<input type="text" name="email" id="email" size="30" />*@
                            <p class="captcha">

                                @Html.EditorFor(model => model.Captcha)
                                <img src="/Premium/ShowCaptchaImage">
                            </p>
                        </li>


                    </ul>



                </div>
            </div>

            <div class="basicfooter-byter">
                <div class="basicfooter-bytermain">
                    <div class="bytet-mfm">
                        @Html.CheckBoxFor(model => model.Isvalid)
                        @*<input name="" type="checkbox" value="" class="info-p">*@
                        <label for="Company Logo" class="info-p"><a href="#" id="trigger">Accept Terms & Conditions:</a></label>
                    </div>
                    <div class="bytet-mfm">
                        <div>
                            <p>
                                <a href="#">
                                    <img id="preview" src="/images/sear-mcredi-byter.png"></a>
                            </p>
                            <p class="infof-p">Preview</p>
                        </div>

                        <div>
                            <p>
                                <input type="submit" id="submitbutton" value="" disabled="disabled" style="background: url(/images/ganrate_ppi.png);background-repeat: no-repeat; height: 78px; width: 85px; border: none;" />
                            </p>
                            <p class="info-p">Generate</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
    
     
    
    <div id="popup" style="display: none; background-image: url(/Images/aphidtisebg.png); margin-left: -409px; margin-top: -143px; width: 830px; height: 443px">
        <div style="margin-left: 200px; margin-top: -20px;" id="ImgClose">
            <a id="popup-close" href="" class="button" style="margin-left: -217px;">
                <img src="/Images/closebotton.png" onclick="CloseThis();" />
            </a>
        </div>
       @* <div id="Progressbar">
            <img src="~/Images/ajax-loader-11.gif" />
        </div>*@
        <div id="loading"></div>
        <div class="popbyter-mianz">
            <div class="popbyter-miansub">
                <div class="popbyter-subleft">
                   <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br />
                    <p><a href="#">Back</a></p>

                </div>
                <div class="popbyter-subright">
                </div>


                <div class="popbyter-sub1">
                    <div class="popbyter-sub1left">
                       @* <video id="videoplayer" width="320" height="240" src="" controls autoplay>
                        </video>*@
                        @* <iframe id="videoplayer" width="560" 
                height="315" 
                src="" 
                frameborder="0" 
                allowfullscreen></iframe>*@
                        <video width="320" height="240" id="videoplayer" controls="controls" preload="metadata">
                            <source src="" type="video/mp4">
                        </video>
                        <img src="" id="img" width="320" height="240" style="margin-top: -255px;" />
                        </div>
                        <div class="popbyter-sub1right">
                            <div class="byter-play-stop">
                                @*<div class="byter-p-s"><img src="/images/play-bt.png"></div>
    <div class="byter-p-s"><img src="/images/stop-bt.png"></div>*@
                        </div>
                        <p>Interruption File:</p>

                        <dl id="samplebyter" class="dropdownbyter" style="margin: 5px 0 5px 5px; width: 210px;">

                            <dt><a id="basicbyter"><span>Default AphidByte</span></a></dt>
                            <dd>
                                <ul id="byterclick">
                                    <li class="BasicVideo"><a>Default AphidByte</a></li>
                                    @*  @foreach (var item in ViewBag.CityList)
                                    {
                                        <li><a>@item.Text</a></li>  
                                    }*@
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="popbyter-footer1left">
                    @*<p class="byter-preview"><a href="#">Preview</a></p>*@
                    <p class="byter-continue"><a href="#">Continue</a></p>
                </div>
                <div class="popbyter-footer1">
                    <div class="popbyter-footer1left">
                        @*<p style="font-size:35px; text-align:center; padding:30px;">“Song A”</p>
<p style="float: left;width: 10px;"><img src="/images/indicates-bg.png"></p>
<p style=" margin: 12px 12px 7px 34px;">Indicates Interruption Portion</p>*@
                    </div>
                    <div class="popbyter-footer1left">
                    </div>
                    <div class="popbyter-footer1left">
                        @*<p class="byter-preview"><a href="#">Preview</a></p>
<p class="byter-continue"><a href="#">Continue</a></p>*@
                    </div>
                </div>
            </div>
        </div>
        <p>
            <img src="" id="image-placeholder" width="700px" height="300px" />
        </p>
    </div>
    <div id="i-pop-up">
        <p>
            show Terms & Conditions:
        </p>
    </div>
}

<script src="jquery.mCustomScrollbar.js"></script>
<script>
    (function ($) {
        $("#gen").click(function () {
            window.location.href = "/Basic/GenerateClones";
        });

        $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
        $(".browseInput").each(function (index) {
            if (index > 3)
                $(this).remove();
        });
        $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script>


<script type="text/javascript">
    var matrixImageName;
    var video;
    var audioName;
    var path;
    var imgname;
    var vedioPauseTime = "";
    var vid_duration;
    var starttime = 1;

    function abc() {


        vedioPauseTime = '';
    }
    function PLayVideo(Cat, Style, File) {
        video = document.getElementById("videoplayer");


        if (Cat == "No Interruption") {
            video.play();

        }
        else {
            if (Style == "Default Randomized Entry") {
                //alert(Style);
                video.play();
                setTimeout(function () { video.pause(); }, 10000);
                setTimeout(function () { $("#img").fadeIn(1500); }, 10000);
                setTimeout(function () {
                    $("#img").fadeOut(1500);
                    video.play();
                }, 15000);
            }
            if (Style == "Producer Tag Sequence") {
                //alert(Style);
                video.play();
                setTimeout(function () { video.pause(); }, 8000);
                setTimeout(function () { $("#img").fadeIn(1500); }, 8000);
                setTimeout(function () {
                    $("#img").fadeOut(1500);
                    video.play();
                }, 12000);
            }
            if (Style == "Beginning of File") {
                // alert(Style);
                video.play();
                setTimeout(function () { video.pause(); }, 1000);
                setTimeout(function () { $("#img").fadeIn(1500); }, 1000);
                setTimeout(function () {
                    $("#img").fadeOut(1500);
                    video.play();
                }, 5000);
            }
            if (Style == "Ending of File") {
                // alert(Style);
                var cc = video.duration * 1000;

                video.play();

                setTimeout(function () { video.pause(); }, cc);
                setTimeout(function () { $("#img").fadeIn(1500); }, cc);
                setTimeout(function () { $("#img").fadeOut(1500); }, cc * 1000);
            }
        }
    }


    function RemoveImage() {
        document.getElementById('img').src = "";
        // $("#img").delay(15).hide(1);
        video.play();
        // clearInterval(setint);
    }
    function openpopup() {
        $("#ImgClose").show();
        $("#popup:visible").hide();
        $("#popup").fadeIn("fast");
    }

    $(document).ready(function () {

        $('#upgradePremium').click(function () {
            $("#yesno").attr('style', 'display:block');
        });

        $("#yes").click(function () {
            $("#yesno").attr('style', 'display:none');
            $.post('/Basic/UpgardeToPremium', {}, function (data) {
                if (data == "Success") {

                    $("#upgradebox").attr('style', 'display:block');
                } else { $("#button-bg4").attr('style', 'display:block'); }

            });

        });
        $("#no").click(function () {
            $("#yesno").attr("style", "display:none");
        });






        $("#Title").val("");
        $("#Tags").val("");
        $("#AlbumTitle").val("");
        $("#Composer").val("");
        $("#Producer").val("");
        $("#Publisher").val("");
        $("#Captcha").val("");
        $("#Video").val("");
        $("#WatermarkMatrixImage").val("");
        $("#Isvalid").attr('checked', false);

        // setInterval('RemoveImage()', 5000);
        $("#img").hide();
        $("#basicbyter").click(function () {
            $("#byterclick").toggle();
        });
        var prog = 0;

        $('#Video').fileupload({
            dataType: 'json',
            url: '/Basic/UploadVideo',
            autoUpload: true,
            done: function (e, data) {
                //path = data.result.name.split('$')[1];
              
                audioName = data.result.name;
                //$("#videoplayer").attr('src', path);
                $("#Video").append(audioName);
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $('#WatermarkMatrixImage').removeAttr('disabled', 'disabled');
                prog = 0;
                $("#show_pop").hide();
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#WatermarkMatrixImage").attr('disabled', 'disabled');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
        });

        $('#WatermarkMatrixImage').fileupload({
            dataType: 'json',
            url: '/Basic/VideoMatrixImage',
            autoUpload: true,
            done: function (e, data) {
                matrixImageName = data.result.name;
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $("#show_pop").hide();
                $('#Video').removeAttr('disabled', 'disabled');
                prog = 0;
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
            $("#Video").attr('disabled', 'disabled');
        });

        $("#preview").click(function () {
           
            if ($("#Video" && "#WatermarkMatrixImage").val() == '') {
                $("#button-upload").attr('style', 'display:block');

                //$("#videoplayer").attr('src', path);


            }

            else {

                if ($("#SelectedIntFile").val() == "No Interruption") {
                    $("#Video").attr('src', audioName);
                    //  alert(audioName);
                    $("#popup").show();
                }
                else {

                    //$("#Progressbar").html('<img src="~/Images/ajax-loader-11.gif"/>');
                    if ($("#Video").val() != '') {
                        // var name = $("#SelectedIntFile").val();
                        // alert($('#videoplayer').attr('duration'));
                        var cat = $("#VideoCategory").val();
                        var intStyle = $("#InterruptionStyle").val();
                        var intFile = $("#SelectedIntFile").val();
                        var tit = $("#Title").val();
                        $.post('/Basic/InterruptVideo',
                                   { IntS: intStyle, IntF: intFile, FileName: audioName, Category: cat, Title: tit }, function (data) {
                                       //imgname = data;
                                       var splitdata = data.split('&');
                                       imgname = splitdata[0];
                                       $("#videoplayer").attr('src', splitdata[1]);

                                       // $("#videoplayer").attr('src', audioName);

                                       document.getElementById('img').src = imgname;
                                       $("#Progressbar").remove();

                                   });
                        openpopup();

                        PLayVideo(cat, intStyle, intFile);



                    }
                }
            }
            

        });
        //$(function () {
        //    $('#preview').click(function () {

        //        if ($("#Video").val() == '') {
        //            $("#button-bg2").dialog("open");

        //        }

        //    });
        //});
        $(document).on('click', '.BasicVideo', function (e) {

            //$('.popbyter-subright').html('<img src="/Images/ajax-loader-11.gif"> loading...');
            var dd = $(this).text();

            var cat = $("#VideoCategory").val();
            var intStyle = $("#InterruptionStyle").val();
            var intFile = $("#SelectedIntFile").val();
            var tit = $("#Title").val();
            $.post('/Basic/InterruptVideo',
                      { IntS: intStyle, IntF: dd, FileName: audioName, Category: cat, Title: tit }, function (data) {
                          setTimeout(function () {
                              $('.popbyter-subright').remove();
                          }, 2000);
                         
                          imgname = data;

                          $("#videoplayer").attr('src', audioName);
                          document.getElementById('img').src = "~/TempBasicImages/" + imgname;
                      });
            PLayVideo(cat, intStyle, dd);
        });

        $(".byter-continue").click(function () {
            videoplayer.pause();
            $("#videoplayer").attr('src', '');
            $("#popup").fadeOut("fast");
        });


        //$(".BasicVideo").click(function () {

        //});

        //$('.BasicVideo li a').on('click', 'a', function () {
        //    console.log('clicked');
        //});

        $("#byterclick li a").click(function () {
            var text = $(this).html();
            $("#basicbyter span").html(text);
            $("#byterclick").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick").hide();
        });


        $("#basicbyterone").click(function () {
            $("#byterclick2").toggle();
        });

        $("#byterclick2 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterone span").html(text);
            $("#byterclick2").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick2").hide();
        });



        $("#basicbytertwo").click(function () {
            $("#byterclick3").toggle();
        });

        $("#byterclick3 li a").click(function () {
            var text = $(this).html();
            $("#basicbytertwo span").html(text);
            $("#byterclick3").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick3").hide();
        });


        $("#basicbyterfour").click(function () {
            $("#byterclick4").toggle();
        });

        $("#byterclick4 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterfour span").html(text);
            $("#byterclick4").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick4").hide();
        });

        $

        $("#basicbyter5").click(function () {
            $("#byterclick5").toggle();
        });

        $("#byterclick5 li a").click(function () {
            var text = $(this).html();
            $("#basicbyter5 span").html(text);
            $("#byterclick5").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick5").hide();
        });



    });
</script>
<script type="text/javascript">
    $("#WatermarkMatrixImage").change(function () {
        var name = $(this).val();
        var split = name.split('.');
        if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG") {

        }
        else {
            $("#button-bg1").dialog("open");
            $("#WatermarkMatrixImage").val("");
        }
    });
</script>
<script type="text/javascript">
    $("#Video").change(function () {
        var name = $(this).val();
        var split = name.split('.');
        if (split[1] == "avi" || split[1] == "AVI" || split[1] == "mp4" || split[1] == "MP4" || split[1] == "mpeg" || split[1] == "MPEG" || split[1] == "mov" || split[1] == "MOV" || split[1] == "flv" || split[1] == "FLV" || split[1] == "wmv" || split[1] == "WMV") {

        }
        else {
            $("#button-bg1").dialog("open");
            $("#Video").val("");
        }
    });
</script>

<script type="text/javascript">
    function HideMsg() {
        $("#msghide").hide();
    }


    function CloseThis() {
        $("#ImgClose").hide();
        video.pause();

    }
    $("#popup-close").click(function (e) {
        e.preventDefault();
        $("#popup").fadeOut("fast");
        video.pause();
    });
    function showPopup() {
        var div = document.createElement('div');

        div.className += 'popup';
        div.innerHTML = 'This is a pop up dialog';
        document.body.appendChild(div);
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#basicbyterone1").click(function () {
            $("#byterclick").toggle();
        });

        $("#byterclick li a").click(function () {
            var text = $(this).html();
            $("#basicbyterone1 span").html(text);
            $("#byterclick").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick").hide();
        });


        $("#basicbyterone").click(function () {
            $("#byterclick2").toggle();
        });

        $("#byterclick2 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterone span").html(text);
            $("#byterclick2").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick2").hide();
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        var captchaFlag = 0, isValid = 0;
        $("#submitbutton").attr('disabled', 'disabled');
        $("#Isvalid").change(function () {
            if ($("#Isvalid").attr('checked')) {
                isValid = 1;
                if (captchaFlag == 1) {
                    $("#submitbutton").removeAttr('disabled');
                }
                else { }
            } else {
                alert("Accept Terms and Conditions");
                isValid = 0;
                $("#submitbutton").attr('disabled', 'disabled');
            }
        });
        $("#Captcha").change(function () {
            $.post("/Basic/GetCaptcha", function () {
            }).done(function (retObject)
            {
                var bb = $("#Captcha").val();
                if (retObject != bb) {
                    $("#button-bg3").dialog("open");
                    captchaFlag = 0;
                    $("#submitbutton").attr('disabled', 'disabled');
                }
                else {
                    captchaFlag = 1;
                    if (isValid == 1) {
                        $("#submitbutton").removeAttr('disabled');
                    }
                }
            });
        });
        $('#button-c3').click(function () {
            $('#button-bg3').hide();
        });
    });
</script>
<div id="button-upload"  style="display:none;">
    <img id="msghide" onclick="HideMsg();" src="/Images/uploadmessage.png" style=" margin-left: 36%;
    margin-top: -45%;
    position: absolute;
    width: 46%;
    z-index: 999"/>
</div>