@model AphidBytes.Accounts.Contracts.Model.BasicGenerateCloneModel
@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@*YesNo PopUP*@
<div id="show_pop" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Upload in Progress..</p></div>
</div>
</div>
</div>
@*YesNo PopUP*@
<div class="aphidtise_wrap">
    submi
    <div class="logid">

        <div class="logid_out">
            <ul>
                <li><a href="#">@{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</a></li>
                <li><a href="~/Accounts/Logout">Logout</a></li>
            </ul>

            <div class="profilebg">
                <div class="migprofile">
                    <img src="@Url.Action("Overview", "Basic")" height="100px" />
                </div>
                <div class="profiletext-ct-info">
                    <img src="/images/clone-pa.png">
                    Basic Account</div>

            </div>

        </div>
    </div>

</div>
<div id="popup" style="display: none; background-image: url(/Images/aphidtisebg.png); margin-left: -409px; margin-top: -143px; width: 830px; height: 649px">
    <div style="margin-left: 200px; margin-top: -20px;" id="ImgClose">
        <a id="popup-close" href="" class="button" style="margin-left: 615px;">
            <img src="/Images/closebotton.png" onclick="CloseThis();" />
        </a>
    </div>
    <div class="popbyter-mianz">
        <div class="popbyter-miansub">
            <div class="popbyter-subleft">
                <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br />
                <p><a href="#">Back</a></p>

            </div>



            <div class="popbyter-subright">
                @*<p>Processing 72%</p>
                    <p>
                       
                    </p>*@
            </div>

            <div class="popbyter-sub1" style="position: relative; left: 0; top: 0">
                <div class="popbyter-sub1left">


                    <div style="margin-left: 20px; height: 440px; width: 420px">
                        <img src="" id="imgpre" style="display: block; position: relative; top: 0; left: 0; margin-bottom: 15px; height: 444px; width: 513px" />

                    </div>
                </div>
                <div class="popbyter-sub1right">
                    <div class="byter-play-stop">
                        @*<div class="byter-p-s"><img src="/images/play-bt.png"></div>
<div class="byter-p-s"><img src="/images/stop-bt.png"></div>*@
                    </div>
                    @*<p>Interruption File:</p>
                         
                        <dl id="samplebyter" class="dropdownbyter" style="margin: 5px 0 5px 5px; width: 210px;">

                            <dt><a id="basicbyter"><span>Default AphidByte</span></a></dt>
                            <dd>*@
                    @*<ul id="byterclick">
                                    <li><a>Default AphidByte</a></li>
                                    @foreach (var item in ViewBag.CityList)
                                    {
                                        <li><a>@item.Text</a></li>  
                                    }
                                </ul>*@
                    @* </dd>
                        </dl>*@
                </div>
            </div>

            <div class="popbyter-footer1">
                <div class="popbyter-footer1left">
                    @*<p style="font-size:35px; text-align:center; padding:30px;">“Song A”</p>
<p style="float: left;width: 10px;"><img src="/images/indicates-bg.png"></p>
<p style=" margin: 12px 12px 7px 34px;">Indicates Interruption Portion</p>*@
                </div>
                <div class="popbyter-footer1left">
                </div>
                <div class="popbyter-footer1left">
                    @*<p class="byter-preview"><a href="#">Preview</a></p>
<p class="byter-continue"><a href="#">Continue</a></p>*@.
                </div>
            </div>
        </div>
    </div>
    <p>
        <img src="" id="image-placeholder" width="700px" height="300px" />
    </p>

</div>


<div id="button-bg1" class="hidden popupyesorno" style="display: none;  text-align: center; width: 350px!important;">

    <div class="errormsg" style=" margin: 0;padding: 0;text-align: center;width: 100%!important;">
        Invalid File
    </div>
    <br />
    <div id="button-c1" class="yesornobutton">
        
        <button>Ok</button>


    </div>


</div>


@*<div id="button-bg2" style="display: none">

    <div class="errormsg">
        please select Image
    </div>
    <div id="button-c2">
        <img src="/img/button_bgw.png" /></div>

</div>*@
<div id="button-bg3" class="hidden" style="display: none">

    <div class="errormsg">
        Captcha Do no match
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" />
    </div>

</div>
<div id="confmBox" class="confirm_send_mail_div sendme_con" style="display:none;">
    
    <div>
        <h5 class="sendme_con_h5">
         Confirmation:<img onclick="close_confmBox_popup()" class="cancel_delete-link" style="cursor: pointer; float: right; margin-top: 7px;" src="/Images/close.png">
        </h5>
        <p style="margin-top:8%;">
         <strong>Are you Sure want to Upgrade ?</strong> <span id="Ncontacts">
</span>
        </p>
       

        <div class="btn-group sendme_con_groupbtn">
         <button id="confrm_yes"  class="btn add  sendme_con_yes" onclick="UpgradeTOPremium()">Yes</button>
         <div class="btn cancel sendme_con_no" onclick="close_confmBox_popup()" style="cursor: pointer;">No</div>
        </div>

       </div>
      </div>
<div id="yesno" style="display:none;">
<div class="bg_othr_xa" style="display: block; margin-left: 497px; margin-top: 227px; position: absolute; z-index: 100;">
<div class="bg_yes_no">
<div><p>Are you sure to Upgrade?</p></div>
<div><p id="yes"><a href="#">Yes</a></p><p id="no"><a href="#">No</a></p></div>
    </div>
</div>
</div>

<div id="button-bg4" class="hidden" style="display: none">

    <div class="errormsg">
        Error Occured Try Again
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" /></div>

</div>

<div style="display:none;" id="upgradebox">
<div class="bg_othr_box">
<div class="bg_othr_box_1">
<P>Account Upgraded Successfully Completed</P>
<p></p>
<p style="margin-top: 22px; margin-left: 137px;"><img src="~/Images/right-icone.png"></p>

<P style="margin-top: 88px;"><a href="~/Accounts/Logout">OK</a></P>
</div>
</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 
    <div class="header_aphidtise">
        <div id="logo">

           <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/hphidbytelogo.png"></a>

          

        </div>
        <div class="processingbyter">
            <div class="processingbyter-head">
                <div class="processingbyterleft">
                    <p id="progresstext"></p>
                    <p class="progressbar" role="progressbar" style="width: 0%" />
                </div>
                <div class="processingbyterright">
                    <p>
                        <img src="/images/choose-existing.png"></p>
                </div>
            </div>
        </div>


        <div class="headertab_aphidtise">
            <div class="aphidbyteleft">

                <ul class="aphidbytelist-basic">
                    <li><a href="BasicAccountInfo">Account Info</a></li>
                    <li></li>
                    <li><a href="Uploadmedia">Upload</a></li>
                    <li>
                        <img src="/images/right_line.png" height="2"></li>
                    <li><a href="Message">Messages</a></li>
                    @if (Model.NewCount != "0")
                    {
                        <p class="in_c_text_4">@Model.NewCount</p> 
                    }
                    <li></li>
                    <div></div>
                    <li><a href="bytetracker">Byte Tracker</a></li>
                    <li></li>
                    <li><a href="History">History</a></li>
                    <li></li>
                    <li><a href="Playlist">Playlists</a></li>
                    <li></li>
                    <li><a href="Dataplan">Data Plan</a></li>
                    <li></li>
                </ul>

                <div class="dsbox-basic">
                    <p>Dashboard<img src="/images/das-left.png"></p>
                </div>
                <p class="dstext-basic">UPGRADE to
                    <samp id="upgradePremium" style="cursor:pointer;">Premium</samp></p>

                <div class="info-footer-social"></div>
                <div class="aphidbyteleftright-basic"></div>
            </div>
            <p class="info-p" style="cursor: pointer;"><span id="gen">Upload</span><span>> Byte Your files</span></p>
            <div style="height: 600px; width: 100%;">
                <div class="from_aphid" style="width: 65%;">
                    <ul>
                        <li>
                            <label for="Company Logo">Title:</label>
                            @*<input type="text" name="email" id="email" size="30" />*@
                            @Html.EditorFor(model => model.Title)
                        </li>
                        <li>
                            <label for="psw">Tags: </label>
                            @*<input type="text" name="psw" id="psw" size="30" />*@
                            @Html.EditorFor(model => model.Tags)
                            <label for="Tags">(Automatically Populates)</label>

                        </li>

                        <li>
                            <label for="Confirm Password">Composer Name:</label>
                            @*<input name="email" type="text" id="email" value="Artist Name cannot be modified" size="30" />*@
                            @Html.TextBoxFor(model => model.Composer)

                        </li>


                        <li>
                            <label for="Last Name">Upload File:</label>
                            @*<input type="file" form="file name">*@
                            @Html.TextBoxFor(model => model.Rar, new { type = "file", accept = "*.iso, *.rar, *.zip", form = "file name" })
                            <label for="Tags" style="text-align: center;">( .Zip ,.Rar files only )</label>
                        </li>

                        <li>
                            <label for="Email Address">Upload Matrix Image:</label>
                            @*<input type="file" form="file name">*@
                            @Html.TextBoxFor(model => model.MatrixImage, new { type = "file", accept = "image/*", form = "file name" })
                            <label for="Tags">( .jpg or .png files only ) </label>
                        </li>




                        <li>




                            <label for="Company Logo">Available for Download:</label>
                        </li>
                        @Html.DropDownListFor(model => model.AvailableDownload, new List<SelectListItem> {
new SelectListItem{Text="Yes",Value="1"},
new SelectListItem{Text="No",Value="2"}
})
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbytertwo"><span>Please Select</span></a></dt>
        <dd>
            <ul id="byterclick3">
                <li><a>Yes</a></li>
                <li><a>No</a></li>
               </ul>
        </dd>
    </dl>*@
                        <li>
                            <label for="Company Logo">Explicit Content?:</label>
                        </li>
                        @Html.DropDownListFor(model => model.ExplicitContent, new List<SelectListItem> {
new SelectListItem{Text="Yes",Value="1"},
new SelectListItem{Text="No",Value="2"}
})
                        @*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterfour"><span>Please Select</span></a></dt>
        <dd>
            <ul id="byterclick4">
               <li><a>Yes</a></li>
               <li><a>No</a></li>
            </ul>
        </dd>
    </dl>*@

                        <li>
                            <label for="Company Logo">Enter Captcha Code:</label>
                            @*<input type="text" name="email" id="email" size="30" /> <p class="captcha"><img src="/images/captcha-code.png"></p>*@
                            @Html.EditorFor(model => model.Captcha)
                            <p class="captcha">
                                <img src="/Premium/ShowCaptchaImage">
                            </p>
                        </li>


                    </ul>



                </div>
            </div>

            <div class="basicfooter-byter" style="position: absolute; margin-top: -161px;">
                <div class="basicfooter-bytermain" style="margin-top: 107px;">
                    <div class="bytet-mfm">
                        @*<input name="" type="checkbox" value="" class="info-p">*@
                        @Html.CheckBoxFor(model => model.Isvalid)
                        <label for="Company Logo" class="info-p"><a href="#" id="trigger">Accept Terms & Conditions:</a></label>
                    </div>
                    <div class="bytet-mfm">
                        <div>
                            <p><a href="#">
                                <img src="/images/sear-mcredi-byter.png" id="preview"></a></p>
                            <p class="infof-p">Preview</p>
                        </div>

                        <div>
                            <p>@*<a href="#"><img src="/images/aphid_logo-byter.png"></a>*@
                                <input type="submit" id="submitbutton" value="" style="background: url(/images/ganrate_ppi.png);background-repeat: no-repeat; height: 78px; width: 85px; border: none;" />
                            </p>
                            <p class="info-p">Generate</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
 


}



<script src="jquery.mCustomScrollbar.js"></script>
<script>
    (function ($) {

        $("#browseBtns,#browseBtnsAdd").fadeTo('slow', .2);
        $(".browseInput").each(function (index) {
            if (index > 3)
                $(this).remove();
        });
        $("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled', true);

        $(window).load(function () {
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#upgradePremium').click(function () {
            $("#yesno").attr('style', 'display:block');
        });

        $("#yes").click(function () {
            $("#yesno").attr('style', 'display:none');
            $.post('/Basic/UpgardeToPremium', {}, function (data) {
                if (data == "Success") {

                    $("#upgradebox").attr('style', 'display:block');
                } else { $("#button-bg4").attr('style', 'display:block'); }

            });

        });
        $("#no").click(function () {
            $("#yesno").attr("style", "display:none");
        });





        $("#gen").click(function () {
            window.location.href = "/Basic/GenerateClones";
        });
        var fileop;
        var fileinp;
        $("#Captcha").val("");
        $("#MatrixImage").change(function () {
            var value = $(this).val();
            var split = value.split('.');
            if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG") {

            }
            else {

                $("#button-bg1").dialog("open");

                $("#MatrixImage").val("");
            }

        });



        $("#preview").click(function () {
            if ($("#Rar" && "#MatrixImage").val() == '') {
                $("#button-upload").attr('style', 'display:block');

            }
            else {

                $("#popup:visible").hide();
                $("#popup").fadeIn("fast");

                $("#imgpre").attr('src', fileinp);
            }
            //$.post('/Basic/PhotoInterruption', { Path: fileop }, function (data) {
            //    // alert(data);
            //    $("#popup:visible").hide();
            //    $("#popup").fadeIn("fast");
            //    $("#imgpre").attr('src', data);

            //});
        });

        $("#Rar").change(function () {
            var dd = $("#Rar").val();
            var sp = dd.split('.');
            if (sp[1] == "zip" || sp[1] == "ZIP" || sp[1] == "rar" || sp[1] == "RAR") {

            } else {
                $("#button-bg1").dialog("open");
                $("#Rar").val("");
            }
        });

        $("#basicbyter").click(function () {
            $("#byterclick").toggle();
        });

        $("#byterclick li a").click(function () {
            var text = $(this).html();
            $("#basicbyter span").html(text);
            $("#byterclick").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick").hide();
        });



        $("#basicbyterone").click(function () {
            $("#byterclick2").toggle();
        });

        $("#byterclick2 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterone span").html(text);
            $("#byterclick2").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick2").hide();
        });



        $("#basicbytertwo").click(function () {
            $("#byterclick3").toggle();
        });

        $("#byterclick3 li a").click(function () {
            var text = $(this).html();
            $("#basicbytertwo span").html(text);
            $("#byterclick3").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick3").hide();
        });


        $("#basicbyterfour").click(function () {
            $("#byterclick4").toggle();
        });

        $("#byterclick4 li a").click(function () {
            var text = $(this).html();
            $("#basicbyterfour span").html(text);
            $("#byterclick4").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick4").hide();
        });



        $("#basicbyter5").click(function () {
            $("#byterclick5").toggle();
        });

        $("#byterclick5 li a").click(function () {
            var text = $(this).html();
            $("#basicbyter5 span").html(text);
            $("#byterclick5").hide();
        });

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdownbyter"))
                $("#byterclick5").hide();
        });
        var prog = 0;
        $('#MatrixImage').fileupload({
            dataType: 'json',
            url: '/Basic/MatrixImagePre',
            autoUpload: true,
            done: function (e, data) {
                fileinp = data.result.name;
              
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $("#show_pop").hide();
                $('#Rar').removeAttr('disabled', 'disabled');
                prog = 0;
            }

        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
            $("#Rar").attr('disabled', 'disabled');
        });


        $('#Rar').fileupload({
            dataType: 'json',
            url: '/Basic/UploadRar',
            autoUpload: true,
            done: function (e, data) {
                fileop = data.result.name;
               
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
                $('#MatrixImage').removeAttr('disabled', 'disabled');
                prog = 0;
                $("#show_pop").hide();
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
            $("#show_pop").attr('style', 'display:block');
            $("#MatrixImage").attr('disabled', 'disabled');
            $("#submitbutton").attr('disabled', 'disabled');
            prog = 1;
        });

        $("#Rar").change(function () {
            var dd = $("#Rar").val();
            var sp = dd.split('.');
            if (sp[1] == "zip" || sp[1] == "ZIP") {
                $("#Select").val(0);
                $("#Select >option[value='2']").remove();
            }
        });
    });
</script>

<script type="text/javascript">
    function openpopup(v) {

    }
    function HideMsg() {
        $("#msghide").hide();
    }


    function CloseThis() {
        $("#ImgClose").hide();

    }
    $("#popup-close").click(function (e) {
        e.preventDefault();
        $("#popup").fadeOut("fast");
    });
    function showPopup() {
        var div = document.createElement('div');

        div.className += 'popup';
        div.innerHTML = 'This is a pop up dialog';
        document.body.appendChild(div);
    }

    $(function () {
        $('#button-bg').hide();

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#Title").val("");
        $("#Tags").val("");
        $("#Captcha").val("");
        $("#MatrixImage").val("");
        $("#Rar").val("");
        $("#Isvalid").attr('checked', false);



        var captchaFlag = 0, isValid = 0;
        $("#submitbutton").attr('disabled', 'disabled');
        $("#Isvalid").change(function () {
            if ($("#Isvalid").attr('checked')) {
                isValid = 1;
                if (captchaFlag == 1) {
                    $("#submitbutton").removeAttr('disabled');
                }
                else { }
            } else {
                alert("Accept Terms and Conditions");
                isValid = 0;
                $("#submitbutton").attr('disabled', 'disabled');
            }
        });
        $("#Captcha").change(function () {
            $.post("/Basic/GetCaptcha", function () {
            }).done(function (retObject)
            {
                var bb = $("#Captcha").val();
                if (retObject != bb) {
                    $("#button-bg3").dialog("open");
                    captchaFlag = 0;
                    $("#submitbutton").attr('disabled', 'disabled');
                }
                else {
                    captchaFlag = 1;
                    if (isValid == 1) {
                        $("#submitbutton").removeAttr('disabled');
                    }
                }
            });
        });
        $('#button-c3').click(function () {
            $('#button-bg3').hide();
        });
    });
</script>
<div id="button-upload"  style="display:none;">
    <img id="msghide" onclick="HideMsg();" src="/Images/uploadmessage.png" style=" margin-left: 6%;
    margin-top: -45%;
    position: absolute;
    width: 46%;
    z-index: 999"/>
</div>