@model AphidBytes.Accounts.Contracts.Model.BasicAccountViewModel
@{
    ViewBag.PageTitle = "Account";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;
    ViewBag.UsernameLabel = "Composer Name to be Displayed";
    ViewBag.SelectedPage = "acctinfo";

}

@section HeadScripts {
    @Styles.Render("~/bundles/css/register")
}

@section scripts{
    @Scripts.Render("~/js/home/register.js")
}


<div class="container-fluid">
    <div class="row">

        @Html.Partial("~/Views/Basic/Shared/_BasicAccountNav.cshtml")

        <div class="col-md-9">
            @if (Model.Validation.HasCta)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml", Model.Validation)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "payment-form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="txt-username" class="col-sm-3 control-label">@ViewBag.UsernameLabel:</label>
                            <div class="col-sm-3">
                                @Html.Label(Model.UserName, new { id = "txt-username", @class = "form-control disabled", disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-password" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-3">
                                @Html.PasswordFor(model => model.Password, new { id = "txt-password", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-confirmpassword" class="col-sm-3 control-label">Confirm Password:</label>
                            <div class="col-sm-3">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { id = "txt-confirmpassword", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
           
        </div>
    </div>
</div>