@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}
@model AphidBytes.Accounts.Contracts.Model.SponsoredModel

 
<script type="text/javascript">
      $(function() {
        var moveLeft = 20;
        var moveDown =-50;
        
        $('a#trigger').hover(function(e) {
          $('div#i-pop-up').show();
          //.css('top', e.pageY + moveDown)
          //.css('left', e.pageX + moveLeft)
          //.appendTo('body');
        }, function() {
          $('div#i-pop-up').hide();
        });
        
        $('a#trigger').mousemove(function(e) {
          $("div#i-pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
        });
        
      });
    </script>

 

<div class="aphidtise_wrap">

<div class="logid">


<div class="profilebg">
 
</div>

</div>
</div>

</div>

<div class="header_aphidtise">
<div class="menunav" style="width:80%;">
<ul>
<li><a href="Services">Services</a></li>
<li><a href="LoginUser">Login</a></li>
<li><a href="#">The Gall</a></li>
<li><a href="#">Store</a></li>
<li><a href="AboutUsPage">About Us</a></li>
<li><a href="Support">Support</a></li>
</ul>
</div>
 
<div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;">  <img src="/images/hphidbytelogo.png"></a> </div>
<div class="processingbyter" style="margin-top:10px;">
<div class="processingbyter-head">
<div class="processingbyterleft">
 <p id="progresstext"></p>
 <p class="progressbar" role="progressbar" style="width: 0%"/>
@*<p><img src="/images/processing-bg.png"></p>*@
<div class="sponso_logo"><img src="/images/sponsored_user_logo.png"></div>
</div>




</div>
    
</div>

<div id="button-bg1"  class="hidden" style="display:none">
 
    <div class="errormsg">
Invalid File</div>
    <div id="button-c1"><img src="/img/button_bgw.png" /></div>

</div>

<div id="button-bg2"  class="hidden" style="display:none">
 
    <div class="errormsg" >please select Image
</div>
    <div id="button-c2"><img src="/img/button_bgw.png" /></div>

</div>
<div id="button-bg3" class="hidden" style="display: none">

    <div class="errormsg">
        Captcha Do no match
    </div>
    <div id="button-c3">
        <img src="/img/button_bgw.png" /></div>

</div>
<div>
   
    <div id="Popup1" style="display: none; /*margin-left: -44%; margin-top: -12%; margin-right: 7%; background: url(/images/aphidtisebg.png); overflow-y: scroll; */ height: 650px;">

        <div>
            <div id="progressbar"></div>
        </div>
        <div id="result"></div>
        <br />


     
        <div class="close" id="ImgClose">
            <p id="popup1-close" class="close">
              
            </p>
        </div>
       
        <p>
          
            <div class="popbyter-mianz">
                <div class="popbyter-miansub">
                    <div class="popbyter-subleft">
                       <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br />
                        <p><a href="#">Back</a></p>

                    </div>

                    <div class="popbyter-subright">
                        <p>Processing 72%</p>
                      <p>
                            <img id="progressbar" src="/Images/ajax-loader-11.gif"/>
 </p>
                        <p>PhotoGraphy/Art Privew </p>
                    </div>

                    <div class="popbyter-sub1">
                        <div class="popbyter-sub1left" style ="position:relative; left: 0; top: 0">
                          
                             <img src="" id="imgpre" style="display: block;position:relative; top: 0; left: 0; margin-bottom: 15px; height: 300px; width: 450px" />
                            <img src=""id ="waveimg" style="display:block;position:absolute;top: 48px; left: 38px;margin-bottom :25px; height: 200px; width: 350px"/>
                            </div>
                            <div style="float:left; top:65px; position:relative;">
                            <input type="button" value"Zoomin" onclick="zoomin()"/ class="zom_img">
                            <input type="button" value"Zoomout" onclick="zoomout()"/ class="zom_img2">
                            </div>
                       
                     

                        <p style="font-size:14px; color:white; padding: 20px">Interruption  Picture:</p>
                        <dl id="samplebyter" class="dropdownbyter" style="position:relative; float:right; right:0px; left:0px;">
                            
                            <dt><a id="basicbyterone"><span id="text1">Default</span></a></dt>
                            <dd>
                                <ul id="byterclick2">
                                    <li><a>Default </a></li>
                                    <li><a>WAtermark1</a></li>
                                  
                                </ul>
                            </dd>
                        </dl>



                    </div>
                </div>
                  <div class="popbyter-footer1left"style ="float:right">

                        
                        <p class="byter-continue"id="Popupcontinue" ><a href="#">Continue </a></p>
                    </div>
                <div class="popbyter-footer1">
                    <div class="popbyter-footer1left">
                      
                        <p style="float: right; width: 10px;">
                          
                    </div>
                    <div class="popbyter-footer1left">
                        
                    </div>
                  
                </div>
            </div>
    </div>
    </p>
</div>


@using(Html.BeginForm(null,null,FormMethod.Post,new{enctype = "multipart/form-data"}))
    {
   

<div class="headertab_aphidtise" style="margin-top:85px;">
<div class="aphidbyteleft" style="margin-top: 6px;">

<ul class="sponsored_menu">
<li></li><li></li>
<li><a href="#">Upload</a></li><li><img src="/images/right_line.png" height="2" width="96"></li>
</ul>
       <div class="tophedboxa">
  <p onclick="goBack()" style="color: #FFC000; margin-top: -221px;margin-left: -73px; cursor: pointer">Back</p>
  </div>




<div class="info-footer-social"></div>
<div class="sponsored_rightline"></div>
</div>
<p class="info-p">Byte Your Art/Photography</p>
<div class="aphidbytecenter content scrollWidth" id="content_1" style="height:600px; margin-top:20px;">
<div style="height:530px; width:100%;">
<div class="from_aphid">
<ul>
<li> 
<label for="Company Logo">Art/Photo Title: </label>
  @Html.TextBoxFor(model=>model.Title)
@*<input type="text" name="email" id="email" size="30" />*@
</li>
<li>   
<label for="psw">Tags: </label>
    @Html.TextBoxFor(model=>model.Tag)
@*<input type="text" name="psw" id="psw" size="30" />*@
<label for="Tags">(Automatically Populates)</label>

</li>

<li> 
<label for="Confirm Password">Artist Name:</label>
    @Html.TextBoxFor(model=>model.ArtistName)
@*<input name="email" type="text" id="email" value="Creator Name cannot be modified" size="30" />*@

</li>

<li> 
<label for="Last Name">Upload File:</label>
    @Html.TextBoxFor(model=>model.Image,new{type = "file", accept = "image/*", form = "file name" })
@*<input type="file" form="file name">*@
<label for="Tags">( .jpg or .png files only )</label>
</li>

<li> 
<label for="Email Address">Upload Matrix Image:</label>
    @Html.TextBoxFor(model=>model.MatrixImage,new{type = "file", accept = "image/*", form = "file name"})
@*<input type="file" form="file name">*@
<label for="Tags">( .jpg or .png files only ) </label>
</li>




<li> 
<label for="Company Logo">Select Interruption File:</label>
</li>
    @Html.DropDownListFor(model=>model.SelectedInteruptionFile,new List<SelectListItem>{
       new SelectListItem{Text="Default"},
       new SelectListItem{Text="myfile1"}
})
<@*dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyter"><span>Watermark 1</span></a></dt>
        <dd>
            <ul id="byterclick">
                <li><a>No Interruption</a></li>
                <li><a>Default AphidByte Audio Interruption</a></li>
                <li><a>Custom Audio Interruption</a></li>
            </ul>
        </dd>
    </dl>*@
<li> 

<label for="Company Logo">Watermark Matrix Image?:</label></li>
    @Html.DropDownListFor(model=>model.WaterMarkMatrixImagePath,new List<SelectListItem>{
    new SelectListItem{Text="Yes"},
     new SelectListItem{Text="No"}

    
})
@*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterone"><span>Yes</span></a></dt>
        <dd>
            <ul id="byterclick2">
                <li><a>Default Randomized Entry</a></li>
                <li><a>Producer Tag Sequence</a></li>
                <li><a>Beginning of File</a></li>
                <li><a>Ending of File</a></li>
            </ul>
        </dd>
    </dl>*@
<li> 
<label for="Company Logo">Available for Download:</label>
</li>
    @Html.DropDownListFor(model=>model.AvailableForDownload,new List<SelectListItem>{
    new SelectListItem{Text="Yes"},
      new SelectListItem{Text="No"}
})
@*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbytertwo"><span>Yes</span></a></dt>
        <dd>
            <ul id="byterclick3">
                <li><a>Yes</a></li>
                <li><a>No</a></li>
               </ul>
        </dd>
    </dl>*@
<li> 
<label for="Company Logo">Explicit Content?:</label>
</li>
    @Html.DropDownListFor(model=>model.ExplicitContent,new List<SelectListItem>{
    new SelectListItem{Text="Yes"},
     new SelectListItem{Text="No"}
})
@*<dl id="samplebyter" class="dropdownbyter" style=" margin: -10px 0 18px 195px; width: 210px;">
      <dt><a id="basicbyterfour"><span>No</span></a></dt>
        <dd>
            <ul id="byterclick4">
               <li><a>Yes</a></li>
               <li><a>No</a></li>
            </ul>
        </dd>
    </dl>*@

<li> 
<label for="Company Logo">Enter Captcha Code:</label>
    @Html.EditorFor(model=>model.Captcha)
@*<input type="text" name="email" id="email" size="30" /> <p class="captcha"><img src="/images/captcha-code.png"></p>*@
       <p class="captcha">
       <img src="/UserSponsored/ShowCaptchaImage">
       </p>
</li>


</ul>



</div>
</div>

<div class="basicfooter-byter">
<div class="basicfooter-bytermain">
<div class="bytet-mfm">
 @Html.CheckBoxFor(model => model.Isvalid)
@*<input name="" type="checkbox" value="" class="info-p">*@
<label for="Company Logo" class="info-p"><a href="#" id="trigger">Accept Terms & Conditions:</a></label>
</div>
<div class="bytet-mfm">
<div>
<p><a href="#"><img src="/images/sear-mcredi-byter.png" id="preview"></a></p>
<p class="infof-p">Preview</p>
</div>

<div>
<@*p><a href="#"><img src="/images/aphid_logo-byter.png"></a></p>*@
     <input type="submit" id="submitbutton" value=""style="background: url(/images/aphid_logo-byter.png); height: 78px; width: 85px; border: none;" />
<p class="info-p">Generate</p>
</div>


</div>
</div>
</div>
</div>
</div>
}


</div>

<div id="i-pop-up">
   <p>
  
   </p>
</div>

<script src="jquery.mCustomScrollbar.js"></script> 
<script>
    (function($){

				$("#browseBtns,#browseBtnsAdd").fadeTo('slow',.2);
				$( ".browseInput" ).each(function( index ) {
				 if (index > 3)
				 $(this).remove();
				});
				$("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled',true);
				
        $(window).load(function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
 </script> 

<script type="text/javascript">
    var intStyle = $("#SelectedInteruptionFile").val();
    var width = 400;
    var height = 250;
    function goBack() {
        window.history.back();
    }



    function zoomin() {

        var new_width = width + 30 + "px";
        var new_height = height + 30 + "px";
        if (new_width <= "570px") {
            $("#imgpre").css('width', new_width);
            $("#imgpre").css('height', new_height);
            width = width + 30;
            height = height + 30;
        } else {
            alert("Maximun Zoom");
        }
    }

    function zoomout() {
        if (width > 450) {
            new_width = width;
            new_height = height;
            var less_width = new_width - 30 + "px";
            var less_height = new_height - 30 + "px";
            if (less_width >= "330px") {

                $("#imgpre").css('width', less_width);
                $("#imgpre").css('height', less_height);
                width = width - 30;
                height = height - 30;
            }
            else {
                alert("Minimum Zoom");
            }
        }

        else {
            width = 400;
            height = 250;
            var less_width = width - 30 + "px";
            var less_height = height - 30 + "px";
            if (less_width >= "250px") {

                $("#imgpre").css('width', less_width);
                $("#imgpre").css('height', less_height);
                width = width - 30;
                height = height - 30;
            } else {
                alert("Minium Width");
            }
        }



    }
    $(document).ready(function () {
        $("#Title").val("");
        $("#Tag").val("");
        $("#Captcha").val("");
        $("#ArtistName").val("");
        $("#Image").val("");
        $("#MatrixImage").val("");
        var captchaFlag = 0, isValid = 0;
        $("#submitbutton").attr('disabled', 'disabled');
        $("#Isvalid").change(function () {
            if ($("#Isvalid").attr('checked')) {
                isValid = 1;
                if (captchaFlag == 1) {
                    $("#submitbutton").removeAttr('disabled');
                }
                else { }
            } else {
                alert("Accept Terms and Conditions");
                isValid = 0;
                $("#submitbutton").attr('disabled', 'disabled');
            }
        });
        $("#Captcha").change(function () {
            $.post("/UserSponsored/GetCaptcha", function (retObject) {
                var bb = $("#Captcha").val();
                if (retObject != bb) {
                    $("#button-bg3").dialog("open");
                    captchaFlag = 0;
                    $("#submitbutton").attr('disabled', 'disabled');
                }
                else {
                    captchaFlag = 1;
                    if (isValid == 1) {
                        $("#submitbutton").removeAttr('disabled');
                    }
                }
            });
        });


        $("#Image").change(function () {
            var img = $(this).val();
            var split = img.split('.');
            if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG") {

            }
            else
            {
                $("#button-bg1").dialog("open");
                $("#Image").val("");
            }

        });
        var fileop;
        $('#Image').fileupload({
            dataType: 'json',
            url: '/UserSponsored/PreviewImage',
            autoUpload: true,
            done: function (e, data) {
                fileop = data.result.name;
                if (fileop == "Invalid") {
                    alert("invalid File");
                }
                else {
                }
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
            }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressbar').css('width', progress + '%');
                document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
        });
        $("#MatrixImage").change(function () {
            var img = $(this).val();
            var split = img.split('.');
            if (split[1] == "jpg" || split[1] == "JPG" || split[1] == "png" || split[1] == "PNG") {

            }
            else
            {
                $("#button-bg1").dialog("open");
                $("#MatrixImage").val("");
            
            }
        });
        var intfile;
        $("#MatrixImage").fileupload({
            dataType: 'json',
            url: '/UserSponsored/PreviewMatrixImage',
            autoUpload: true,
            done: function (e, data) {
                intfile = data.result.name;
                if (intfile == "Invalid") {
                    alert("invalid File");
                }
                else {
                }
                $('.progressbar').css('width', 0 + '%');
                document.getElementById('progresstext').innerHTML = '';
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressbar').css('width', progress + '%');
            document.getElementById('progresstext').innerHTML = 'UPLOADED ' + progress + '%';
        });
        $("#preview").click(function () {

            $("#progressbar").html('<img src="/Images/ajax-loader-11.gif"')

            if ($("#Image" && "#MatrixImage").val() != '') {
                $("#Popup1:visible").hide();
                $.post('/UserSponsored/PhotoInterruption', { IntF: intStyle, FileName: fileop, IntS: intfile }, function (data) {


                });
                if (intStyle == "Default")
                {
                    $("#Popup1").fadeIn("fast");
                    $("#waveimg").attr('src', '/Images/logo.png');

                }
                if (intStyle == "myfile1") { $("#Popup1").fadeIn("fast"); $("#waveimg").attr('src', mattriximagefile); }


                $("#imgpre").attr('src', fileop);
            }
            $("#progressbar").remove();
        
        });

            $("#basicbyter").click(function() {
                $("#byterclick").toggle();
            });
                        
            $("#byterclick li a").click(function() {
                var text = $(this).html();
                $("#basicbyter span").html(text);
                $("#byterclick").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick").hide();
            });
			

			 $("#basicbyterone").click(function() {
                $("#byterclick2").toggle();
            });
                        
            $("#byterclick2 li a").click(function() {
                var text = $(this).html();
                $("#basicbyterone span").html(text);
                $("#byterclick2").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick2").hide();
            });
			
			
			
          $("#basicbytertwo").click(function() {
                $("#byterclick3").toggle();
            });
                        
            $("#byterclick3 li a").click(function() {
                var text = $(this).html();
                $("#basicbytertwo span").html(text);
                $("#byterclick3").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick3").hide();
            });
			
			
			$("#basicbyterfour").click(function() {
                $("#byterclick4").toggle();
            });
                        
            $("#byterclick4 li a").click(function() {
                var text = $(this).html();
                $("#basicbyterfour span").html(text);
                $("#byterclick4").hide();
            });
        
            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdownbyter"))
                    $("#byterclick4").hide();
            });
            
			

    });

    $(function () {
        $("#preview").click(function () {
            if ($("#Image" && "#MatrixImage").val = "") {
                $("#button-bg2").dialog("open");

            }


        });

    });
    $("#byterclick2").click(function () {
        var dd = $("#text1").text();
        if (dd == "Default")
        {
            $("#waveimg").attr('src', '/Images/logo.png');
        }
        if (dd == "WAtermark1")
        {
            $("#waveimg").attr('src', mattriximagefile);
        }

    });
    $("#ImgClose").click(function () {
        $("#Popup1").fadeOut("fast");

    });

    </script>


 

